@charset "utf-8";
@import url(pretendard/font.css);
@import url(roboto/font.css);


/* Reset */
*{box-sizing:border-box;}
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td{margin:0;padding:0;color:#000;font-family:'Pretendard', sans-serif;font-size:18px;font-weight:500;line-height:1.5;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;}
b, span, strong, input, a, button{font-size:inherit;font-family:inherit;color:inherit;font-weight:inherit;}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite{display:inline}
html, body {height:100%;}
body {overflow-x:hidden;margin:0px;}
a:link {text-decoration:none;} 
a:visited {text-decoration:none;}
img{border:0;max-width:100%}
b, strong, span, em, i {font-size: inherit;font-style: normal;}
label, input, textarea, select{vertical-align:middle}
ol, ul{list-style:none;}
table{border-collapse:collapse;table-layout:fixed;}
fieldset{border:none}
.skip, hr, legend{position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button{margin:0;padding:0;border:none;background:none;cursor:pointer;display:inline-block;}
b {font-weight:500}
input{border-radius:0;appearance:none;-webkit-border-radius:0;-webkit-appearance:none}
input[type=text]::-ms-clear{display: none;}
a[href^="tel"], a[href^="mailto"] {color: inherit;text-decoration: none;}
.hidden{position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden;clip:rect(0, 0, 0, 0);}

:root{

    /* Layout */
    --layout: 0 26px;

    /* 주요 색상 */
    --primary: #0075D2;
    --second: #003883;
    --pressed: #00467E;
    --hover: #005EA8;

    /* Color */
    --black: #000;
    --red: #D30438;
    --yellow: #FEB53A;
    --green: #008A1E;
    --blue: #0075D2;
    --navy: #003883;
    --white: #ffffff;
    --gray: #666666;

    /* Spacing */
    --spacing-0: 0px;
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 8px;
    --spacing-4: 12px;
    --spacing-5: 16px;
    --spacing-6: 20px;
    --spacing-7: 24px;
    --spacing-8: 32px;
    --spacing-9: 40px;
    --spacing-10: 48px;

    /* default-radius */
    --radius-lv1: 2px;
    --radius-lv2: 4px;
    --radius-lv3: 6px;
    --radius-lv4: 8px;
    --radius-lv5: 12px;
    --radius-lv6: 16px;
    --radius-lv7: 20px;
    --radius-lv8: 24px;
    --radius-lv9: 40px;

}

/*weight*/
.wB{font-weight:700 !important;}
.wN{font-weight:400 !important;}

/* Headline */
.headLine1 {display:block;width:100%;font-size:50px;font-weight:bold;letter-spacing:1px;line-height: 150%;}
.headLine2 {display:block;width:100%;font-size:40px;font-weight:bold;letter-spacing:1px;line-height: 150%;}
.headLine3 {display:block;width:100%;font-size:32px;font-weight:bold;letter-spacing:1px;line-height: 150%;}

/* Title */
.contTit1 {display:block;width:100%;font-size:32px;font-weight:bold;letter-spacing:1px;line-height: 150%;}
.contTit2 {display:block;width:100%;font-size:25px;font-weight:bold;letter-spacing:0;line-height: 150%;}
.contTit3 {display:block;width:100%;font-size:21px;font-weight:bold;letter-spacing:0;line-height: 150%;}
.contTit4 {display:block;width:100%;font-size:19px;font-weight:bold;letter-spacing:0;line-height: 150%;}
.contTit5 {display:block;width:100%;font-size:17px;font-weight:bold;letter-spacing:0;line-height: 150%;}        

/* Body */
.txtBody1{display:block;width:100%;font-size:19px;line-height:150%;letter-spacing:0;}
.txtBody2{display:block;width:100%;font-size:17px;line-height:150%;letter-spacing:0;}
.txtBody3{display:block;width:100%;font-size:15px;line-height:150%;letter-spacing:0;}

/* Color */
.c_Point {color:var(--primary) !important;}
.c_Scndary {color:var(--second) !important;}
.c_Red {color:var(--red) !important}
.c_Blue {color:var(--blue) !important}
.c_Black {color:var(--black) !important}
.c_White {color:var(--white) !important}
.c_Gray {color:var(--gray) !important}

/* Text List */
.txtList{width:100%;height:auto;}
.txtList>li{position:relative;font-size:17px;line-height:150%;letter-spacing:0;}
.txtList>li+li{margin-top:7px;}

.txtList.dot>li{padding-left:10px;}
.txtList.dot>li::before{content:"";position:absolute;left:0;top:11px;display:block;width:3px;height:3px;border-radius:50%;background:var(--black);}
.txtList.dot>li>.txtList.hyphen{margin-top:7px;}

.txtList.hyphen>li{padding-left:10px;font-size:17px;line-height: 150%;}
.txtList.hyphen>li::before{content:"";position:absolute;left:0;top:10px;display:block;width:5px;height:1px;background:var(--black);}
.txtList.hyphen>li+li{margin-top:7px;}

.txtList.halfType{font-size:0;}
.txtList.halfType li{width:50%;display:inline-block;vertical-align:top;padding-right:10px;}
.txtList.halfType li:nth-of-type(2){margin-top:0;}

.txtList.bullet>li{padding-left:25px}
.txtList.bullet>li::before{content:attr(data-point);position:absolute;left:0;top:0;display:block;width:24px;height:auto;font-size:inherit;line-height:inherit;}


/* button - 계층 */
.btn_list{margin-top: 40px;}
.btn_list.center{text-align: center;}
.btn_list .btn{margin: 0 5px;}
.btn{display:inline-flex;align-items:center;justify-content:center;width:auto;gap:4px;cursor:pointer;white-space:nowrap;box-sizing:border-box;min-width: 160px;}
.btn:focus{outline-offset:-4px;outline:2px solid rgba(36,107,235,0.8);}
.btn.primary{border-color:var(--primary);background-color:var(--primary);color:#fff;}
.btn.primary:hover,
.btn.primary:active{border-color:#1D56BC;background-color:#1D56BC;}
.btn.primary:focus{outline-color:rgba(255,255,255,0.8);}
.btn.secondary{border:1px solid var(--primary);background-color:#EFF5FF;color:#1D56BC;}
.btn.secondary:hover{background-color:#D3E1FB;}
.btn.secondary:active{background-color:#A7C4F7;color:#16408D;}
.btn.line{border-width:1px;border-style:solid;}
.btn.line.black{border-color:#1D1D1D;background-color:#fff;color:#1D1D1D;}
.btn.line.black:hover{background-color:#F8F8F8;}
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active,
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active{border-color:#C6C6C6;background-color:#D8D8D8;color:#717171;cursor:default;}

/* button - 사이즈 */
.btn.xsmall{height:32px;padding:0 10px;border-radius:6px;font-size:15px;}
.btn.small{height:40px;padding:0 12px;border-radius:6px;font-size:15px;}
.btn.medium{height:48px;padding:0 16px;border-radius:6px;font-size:17px;}
.btn.large{height:56px;padding:0 20px;border-radius:8px;font-size:19px;}
.btn.xlarge{height:64px;padding:0 24px;border-radius:8px;font-size:19px;}

/* button - 아이콘 */
.btn[class*=ico_]::after{content:"";display:inline-flex;background-repeat:no-repeat;background-size:contain;background-position:center;}
.btn.xsmall[class*=ico_]::after{width:16px;height:16px;}
.btn.small[class*=ico_]::after{width:20px;height:20px;}
.btn.medium[class*=ico_]::after{width:24px;height:24px;}
.btn.large[class*=ico_]::after{width:24px;height:24px;}
.btn.xlarge[class*=ico_]::after{width:28px;height:28px;}
.btn.ico_before::after{display:none;}
.btn.ico_before::before{content:"";display:inline-flex;background-repeat:no-repeat;background-size:contain;background-position:center;width:24px;height:24px;}
.btn.ico_down::before,
.btn.ico_down::after{background-image:url(../img/common/ico_file_20.svg);}

/* Radio Button */
.radio_area{display:flex;flex-wrap:wrap;}
.input_radio{font-size:17px;}
.radio_area .input_radio{margin-right:48px;}
.radio_area .input_radio:last-child{margin-right:0;}
.radio_area.column{flex-direction:column;}
.radio_area.column .input_radio{margin-right:0;margin-bottom:24px;}
.radio_area.column .input_radio:last-child{margin-bottom:0;}
.input_radio input[type=radio]~label{position:relative;display:inline-flex;font-size:17px;padding-left:28px;line-height:20px;flex-direction:column;font-weight:400;cursor:pointer;}
.input_radio input[type=radio]~label::before{content:"";display:block;position:absolute;box-sizing:border-box;transition:0.4s cubic-bezier(0.4, 0, 0.23, 1);z-index:3;border-radius:100%;top:0;left:0;width:20px;height:20px;background-color:#fff;border:1px solid #717171;}
.input_radio input[type=radio]:checked~label::before{border-color:var(--primary);}
.input_radio input[type=radio]~label::after{content:"";display:block;position:absolute;box-sizing:border-box;transition:0.4s cubic-bezier(0.4, 0, 0.23, 1);z-index:3;border-radius:100%;top:5px;left:5px;width:10px;height:10px;background-color:#fff;}
.input_radio input[type=radio]:checked~label::after{background-color:var(--primary);}
.input_radio input[type=radio]:disabled~label{cursor:default;color:#8e8e8e;}
.input_radio input[type=radio]:checked:disabled~label::before,.input_radio input[type=radio]:disabled~label::before{border-color:#c6c6c6;background-color:#e4e4e4;}
.input_radio input[type=radio]:disabled~label::after{display:none;}
.input_radio input[type=radio]:checked:disabled~label::after{display:block;background-color:#c6c6c6;}
.input_radio input[type=radio]:focus~label{outline:2px solid rgba(36,107,235,0.8);outline-offset:4px;}

/* Radio Button - size */
.input_radio.small input[type=radio]~label{font-size:15px;padding-left:24px;line-height:16px;}
.input_radio.small input[type=radio]~label::before{width:16px;height:16px;}
.input_radio.small input[type=radio]~label::after{top:4px;left:4px;width:8px;height:8px;}
.input_radio.large input[type=radio]~label{font-size:19px;padding-left:32px;line-height:24px;}
.input_radio.large input[type=radio]~label::before{width:24px;height:24px;}
.input_radio.large input[type=radio]~label::after{top:6px;left:6px;width:12px;height:12px;}

/* Checkbox */
.input_check input[type=checkbox]:focus~label:focus{outline:2px solid rgba(36,107,235,0.8);outline-offset:4px;}
.check_area{display:flex;flex-wrap:wrap;}
.input_check{font-size:17px;}
.check_area .input_check{margin-right:48px;}
.check_area .input_check:last-child{margin-right:0;}
.check_area.column{flex-direction:column;}
.check_area.column .input_check{margin-right:0;margin-bottom:24px;}
.check_area.column .input_check:last-child{margin-bottom:0;}
.input_check input[type=checkbox]~label{position:relative;display:inline-flex;font-size:17px;padding-left:28px;line-height:20px;flex-direction:column;font-weight:400;cursor:pointer;}
.input_check input[type=checkbox]~label::before{content:"";display:block;position:absolute;box-sizing:border-box;transition:0.4s cubic-bezier(0.4, 0, 0.23, 1);z-index:3;border-radius:100%;top:0;left:0;width:20px;height:20px;background-color:#fff;border:1px solid #717171;border-radius:4px;}
.input_check input[type=checkbox]:checked~label::before{border-color:var(--primary);background-color:var(--primary);}
.input_check input[type=checkbox]~label::after{content:"";display:block;position:absolute;box-sizing:border-box;transition:0.4s cubic-bezier(0.4, 0, 0.23, 1);z-index:3;top:2px;left:2px;width:16px;height:16px;background-repeat:no-repeat;background-position:0 0;background-size:contain;background-image:url(../img/common/ico_check_primary_checked.svg);opacity:0;}
.input_check input[type=checkbox]:checked~label::after{opacity:1;transition-delay:0.2s;}
.input_check input[type=checkbox]:disabled~label{cursor:default;color:#8e8e8e;}
.input_check input[type=checkbox]:checked:disabled~label::before,.input_check input[type=checkbox]:disabled~label::before{border-color:#c6c6c6;background-color:#e4e4e4;}
.input_check input[type=checkbox]:disabled~label::after{display:none;}
.input_check input[type=checkbox]:checked:disabled~label::after{display:block;background-image:url(../img/common/ico_check_primary_disabled.svg);}
.input_check input[type=checkbox]:focus~label{outline:2px solid rgba(36,107,235,0.8);outline-offset:4px;}

/* Checkbox -size */
.input_check.small input[type=checkbox]~label{font-size:15px;padding-left:24px;line-height:16px;}
.input_check.small input[type=checkbox]~label::before{width:16px;height:16px;}
.input_check.small input[type=checkbox]~label::after{top:2px;left:2px;width:12px;height:12px;}
.input_check.large input[type=checkbox]~label{font-size:19px;padding-left:32px;line-height:24px;}
.input_check.large input[type=checkbox]~label::before{width:24px;height:24px;}
.input_check.large input[type=checkbox]~label::after{top:2px;left:2px;width:20px;height:20px;}

/* input */
.form_input{position:relative;width:100%;height:56px;padding:0 16px;box-sizing:border-box;background-color:#fff;border:1px solid #717171;border-radius:8px;font-size:19px;color:#1d1d1d;transition:0.4s ease-in-out;font-weight:400;}
.form_input:focus{transition:none;}
.form_input::placeholder{-webkit-text-fill-color:#8E8E8E;opacity:1;-webkit-opacity:1;color:#8E8E8E;}
.form_input::-webkit-input-placeholder{color:#8E8E8E;}
.form_input::-moz-placeholder{color:#8E8E8E;}
.form_input:-ms-input-placeholder{color:#8E8E8E;}
.form_input::-ms-input-placeholder{color:#8E8E8E;}
.form_input:placeholder-shown{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.form_input.form_icon{padding:0 56px 0 16px;}
.form_input:focus{border-width:2px;border-color:var(--primary);outline:none;}
.form_input[readonly]{background-color:#D8D8D8;border-color:#C6C6C6;color:#555;}
.form_input[readonly]::placeholder{-webkit-text-fill-color:#717171;opacity:1;-webkit-opacity:1;color:#717171;}
.form_input[readonly]::-webkit-input-placeholder{color:#717171;}
.form_input[readonly]::-moz-placeholder{color:#717171;}
.form_input[readonly]:-ms-input-placeholder{color:#717171;}
.form_input[readonly]::-ms-input-placeholder{color:#717171;}
.form_input[readonly]:focus{border-width:1px;}
.form_input[disabled]{background-color:#D8D8D8;border-color:#C6C6C6;color:#717171;}
.form_input[disabled]::placeholder{-webkit-text-fill-color:#717171;opacity:1;-webkit-opacity:1;color:#717171;}
.form_input[disabled]::-webkit-input-placeholder{color:#717171;}
.form_input[disabled]::-moz-placeholder{color:#717171;}
.form_input[disabled]:-ms-input-placeholder{color:#717171;}
.form_input[disabled]::-ms-input-placeholder{color:#717171;}

/* input date */
input[type="date"]{-webkit-appearance:none;position: relative;}
/* input[type="date"]::after{position: absolute;top: 50%;right: 10px;content: '';width: 17px;height: 17px;background: url(../img/common/ico_date.svg) no-repeat center;transform: translateY(-50%);z-index: 0;} */

/* 그룹 input */
.form_input_group ~ .form_input_group{margin-top:24px;}
.form_input_group .form_input_conts{display:flex;}
.form_input_group .form_input_conts .form_input{margin-right:12px;}
.form_input_group .form_input_conts .form_input:last-child{margin-right:0;}
.form_input_group .form_input_conts.column{flex-direction:column;}
.form_input_group .form_input_conts.column .form_input{margin-right:0;margin-bottom:12px;}
.form_input_group .form_input_conts.column .form_input:last-child{margin-bottom:0;}

/* 레이블이 있는 input */
.form_input_tit{font-size:15px;font-weight:400;margin-bottom:12px;position:relative;color:#1d1d1d;line-height:150%;}
.form_input_tit>label{font-size:inherit;font-weight:inherit;color:inherit;line-height:inherit;cursor:pointer;}
@media screen and (max-width:599px){
  .form_input_tit{margin-bottom:4px;}
}

/* hint input */
.form_input_conts:has(.hint_msg){flex-wrap:wrap;}
.hint_msg{color:#555;font-size:15px;padding-left:24px;width:100%;line-height:20px;position:relative;font-weight:400;}
.hint_msg::before{content:"";position:absolute;left:0;top:0;width:20px;height:20px;background:url(../img/common/ico_hint_20.svg)no-repeat center;background-size:contain;}
.form_input_conts .hint_msg{margin-top:12px;}

/* ERROR input */
.is_error{flex-wrap:wrap;}
.is_error .form_input{border-color:#eb003b;border-width:2px;width:100%;flex-shrink:0;}
.error_msg{color:#eb003b;font-size:15px;padding-left:24px;width:100%;line-height:20px;position:relative;font-weight:400;}
.error_msg::before{content:"";position:absolute;left:0;top:0;width:20px;height:20px;background:url(../img/common/ico_hint_error.svg)no-repeat center;background-size:contain;}
.is_error .error_msg{margin-top:12px;}
.is_error .form_input:focus{border-color:#eb003b;}

/* input size */
.form_input.medium{height:48px;font-size:17px;}
.form_input.small{height:40px;font-size:15px;}

/* Textarea */
.form_textarea_group ~ .form_textarea_group{margin-top:24px;}
textarea{width:100%;height:auto;resize:none;box-sizing:border-box;position:relative;}
.form_textarea{background-color:#fff;font-family:inherit;color:#2D2D2D;border:1px solid #717171;transition:0.4s ease-in-out;border-radius:8px;padding:16px;height:180px;min-height:96px;}
.form_textarea:focus{outline:none;border-width:2px;border-color:var(--primary);}
.form_textarea::placeholder{-webkit-text-fill-color:#8E8E8E;opacity:1;-webkit-opacity:1;color:#8E8E8E;}
.form_textarea::-webkit-input-placeholder{color:#8E8E8E;}
.form_textarea::-moz-placeholder{color:#8E8E8E;}
.form_textarea:-ms-input-placeholder{color:#8E8E8E;}
.form_textarea::-ms-input-placeholder{color:#8E8E8E;}
.form_textarea[readonly]{background-color:#D8D8D8;border-color:#C6C6C6;color:#1D1D1D;}
.form_textarea[readonly]::placeholder{-webkit-text-fill-color:#717171;opacity:1;-webkit-opacity:1;color:#717171;}
.form_textarea[readonly]::-webkit-input-placeholder{color:#717171;}
.form_textarea[readonly]::-moz-placeholder{color:#717171;}
.form_textarea[readonly]:-ms-input-placeholder{color:#717171;}
.form_textarea[readonly]::-ms-input-placeholder{color:#717171;}
.form_textarea[readonly]:focus{border-width:1px;}
.form_textarea[disabled]{background-color:#D8D8D8;border-color:#C6C6C6;color:#717171;}
.form_textarea[disabled]::placeholder{-webkit-text-fill-color:#717171;opacity:1;-webkit-opacity:1;color:#717171;}
.form_textarea[disabled]::-webkit-input-placeholder{color:#717171;}
.form_textarea[disabled]::-moz-placeholder{color:#717171;}
.form_textarea[disabled]:-ms-input-placeholder{color:#717171;}
.form_textarea[disabled]::-ms-input-placeholder{color:#717171;}
.textarea_wrap{display:flex;align-items:normal;justify-content:start;flex-direction:column;}
.textarea_unit{display:flex;align-items:start;justify-content:flex-end;margin-top:12px;box-sizing:border-box;width:100%;gap:16px;}
.textarea_count{display:inline-flex;align-items:center;justify-content:end;text-align:right;font-size:15px;font-weight:400;gap:2px;}
.textarea_count span{font-size:inherit;font-weight:inherit;display:inline-flex;gap:2px;}
.textarea_count span:last-child::before{content:"/";display:inline-flex;}

/* ERROR Textarea */
.is_error .form_textarea{border-color:#eb003b;border-width:2px;width:100%;flex-shrink:0;}
.is_error .textarea_wrap .error_msg{margin-top:0;}

/* Select */
select{appearance: none;-webkit-appearance: none;-moz-appearance: none;}
.form_select.readonly,
.form_select:disabled{cursor:default;pointer-events:none;}
.form_select{width:100%;height:56px;padding:0 52px 0 16px;border:1px solid #717171;border-radius:8px;font-size:19px;color:#1D1D1D;opacity:1;background:url(../img/common/ico_select_lg.svg) no-repeat center right 16px;background-color:#fff;}
.form_select:focus{outline-offset:-5px;border-color:var(--primary);border-width:2px;outline: 2px solid rgba(36, 107, 235, 0.8);}
.form_select:disabled{background-color:#D8D8D8;border-color:#C6C6C6;color:#717171;}
.form_select.readonly{background-color:#D8D8D8;border-color:#C6C6C6;color:#1D1D1D;}

/* Pagination */
.numberPagination{width:100%;font-size:0;text-align:center;margin-top: 40px;}
.numberPagination>button{position:relative;display:inline-block;vertical-align:middle;height:40px;font-size: 17px;color:#555555;font-weight: 400;line-height:40px;}
.numberPagination>button:hover{background-color: #EDF1F5;}
.numberPagination>button.prev{width:62px;background:url(../img/common/icon_pagingPrev.svg) no-repeat left 4px center;text-align: right;padding-right: 4px;}
.numberPagination>button.next{width:62px;background:url(../img/common/icon_pagingNext.svg) no-repeat right 4px center;text-align: left;padding-left: 4px;}
.numberPagination>.paging{font-size:0;display:inline-block;vertical-align:middle;}
.numberPagination>.paging>li{display:inline-block;vertical-align:middle;margin:0 4px;}
.numberPagination>.paging>li>button{position:relative;display:block;min-width:40px;height:40px;font-size:17px;line-height:40px;padding:0 10px;text-align:center;transition:all 0.2s;border-radius: 6px;color:#555;}
.numberPagination>.paging>li>button:hover{background: #EDF1F5;}
.numberPagination>.paging>li>button.on{background:#003675;color:#fff;}
.numberPagination>.paging>li.pagingDot{background:url(../img/common/icon_sLocation_more.svg) no-repeat center center;width:40px;height:40px;}
.numberPagination>button[readonly] {pointer-events: none;opacity: .3;cursor: default;}

@media only screen and  (max-width:1024px){
  .numberPagination{position: relative;padding-top: 24px;margin-top:60px;}
  .numberPagination>button.prev{position: absolute;left: calc(50% - 65px);top: -30px;padding-right:7px;}
  .numberPagination>button.next{position: absolute;right: calc(50% - 65px);top: -30px;padding-left:7px;}
}


/* Disclosure */
.disclosure .btn_disclosure:focus{outline-offset:-4px;}
.disclosure .btn_disclosure::before{background-image:url(../img/common/ico_arr_func_20.svg);transform:rotate(0);}
.disclosure .expand_wrap{position:relative;overflow:hidden;max-height:0;transition: max-height .5s cubic-bezier(0, 1, 0, 1);}
.disclosure .expand_wrap .expand_inner{padding:24px;border-radius:12px;background-color:#F8F8F8;}
.disclosure.active .expand_wrap{max-height:1000vh !important;transition:max-height 1.5s ease-in-out;}
.disclosure.active .btn_disclosure::before{transform:rotate(-90deg);}

/* Accordion */
.accordion{border-top:1px solid #C6C6C6;width:100%;}
.accordion .accordion_item{border-bottom:1px solid #C6C6C6;}
.accordion .accordion_item .btn_accordion{position:relative;padding:24px 40px 24px 0;font-size:19px;font-weight:700;text-align:left;width:100%;}
.accordion .accordion_item .btn_accordion:focus{outline-offset:-4px;outline:2px solid rgba(36, 107, 235, 0.8);}
.accordion .accordion_item .btn_accordion::after{content:"";position:absolute;top:24px;right:0;width:24px;height:24px;background:url(../img/common/ico_arr_accordion.svg) no-repeat center / 20px auto;transition:0.4s ease-in-out;transform:rotate(0);}
.accordion .accordion_item.active .btn_accordion::after{transform:rotate(180deg);}
.accordion .accordion_item .accordion_cont{max-height:0;overflow:hidden;transition:max-height 0.5s cubic-bezier(0, 1, 0, 1); }
.accordion .accordion_item.active .accordion_cont{height:auto;max-height:1000vh;transition:max-height 1.5s ease-in-out;}
.accordion .accordion_item .accordion_txt{padding:4px 0 24px;}

/* Table */
.tbl_wrap{position:relative;width:100%;height:auto;}
.tbl_wrap ~ .tbl_wrap{margin-top:20px;}
.tbl_wrap table{width:100%;table-layout:fixed;border-collapse:collapse;}
.tbl_wrap .hidden{position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden;clip:rect(0, 0, 0, 0);}
.tbl_wrap thead tr{border-bottom:1px solid #99B0CB;}
.tbl_wrap tbody tr{border-bottom:1px solid #D8D8D8;}
.tbl_wrap th{background-color:#EDF1F5;color:#1D1D1D;font-size:15px;font-weight:700;padding:14px 16px;text-align:left;}
.tbl_wrap td{background-color:#fff;color:#555;font-size:17px;font-weight:400;padding:18px 16px;}
.tbl_wrap .m_tit{display:none;}

.tbl_wrap.tbl_scroll{overflow-x:auto;}
.tbl_wrap.tbl_row thead th:not(:first-child),
.tbl_wrap.tbl_row2 thead th:not(:first-child){border-left:1px solid #99B0CB;}
.tbl_wrap.tbl_row tbody td:not(:first-child),
.tbl_wrap.tbl_row2 tbody td:not(:first-child){border-left:1px solid #D8D8D8;}
.tbl_wrap.tbl_col tbody th{border-right:1px solid #99B0CB;}
.tbl_wrap.tbl_col tbody td ~ th{border-left:1px solid #D8D8D8;}
.tbl_wrap.tbl_center th,
.tbl_wrap.tbl_center td{text-align:center;}

.tableTouchArea{position:absolute;background-color:rgba(0,0,0,0.6);width:100%;height:100%;left:0;top:0;z-index:1;}
.tableTouchArea .tableScrollTouch{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); width:160px;height:90px;background:url(../img/common/ico_table_touch.svg) no-repeat left 40px top 0;opacity:1;}
.tableTouchArea .tableScrollTouch span {display:block;padding-top:60px;font-size: 16px;font-weight: 700;color:#fff;}

@media only screen and  (max-width:1024px){
  .tbl_wrap:not(.tbl_row2)> table{display:block;}
	.tbl_wrap:not(.tbl_row2)> table caption{display:none;}
	.tbl_wrap:not(.tbl_row2)> table tbody{display:block;}
	.tbl_wrap:not(.tbl_row2)> table colgroup,
	.tbl_wrap:not(.tbl_row2)> table thead,
	.tbl_wrap:not(.tbl_row2)> table tbody th{display:none;}
	.tbl_wrap:not(.tbl_row2)> table tbody tr{display:block;position:relative;padding:0;border-bottom:0;}
	.tbl_wrap:not(.tbl_row2)> table tbody tr td{display:flex;width:100%;height:auto;padding:0;border-left:0 !important;border-bottom:1px solid #D8D8D8;}
	.tbl_wrap:not(.tbl_row2)> table tbody tr td .m_tit{display:flex;align-items:center;width:140px;background-color:#EDF1F5;color:#1D1D1D;font-size:17px;font-weight:700;padding:14px 16px;text-align:left;border-right:1px solid #99B0CB;}
	.tbl_wrap:not(.tbl_row2)> table tbody tr td .tbl_txt{flex:1;padding:18px 16px;display:flex;align-items:center;word-break:break-all;}
	.tbl_wrap.tbl_row > table tbody tr+tr{margin-top:20px;}
}

/* badge */
.badge_box{display:flex;flex-wrap:wrap;align-items:center;gap:4px;}
.state_badge{font-size:15px;font-weight:400;padding:4px 8px;border-radius:4px;color:var(--primary);background-color:#EFF5FF;height:24px;display:inline-flex;align-items:center;box-sizing:border-box;}
.state_badge.bg2{color:#fff;background-color:var(--primary);}
.state_badge.bg3{color:#008A1E;background-color:#E3F3E6;}
.state_badge.bg4{color:#1D56BC;background-color:#fff;border:1px solid var(--primary);}
.state_badge.bg5{color:#2D2D2D;background-color:#E4E4E4;}

/* 도움말 */
.contTit6{font-size: 15px;line-height: 150%;color: #1D1D1D;font-weight: 700;}
.tooltip_wrap{position: relative;}
.tooltip_wrap .tooltip{display: flex;align-items: center;}
.tooltip_wrap .tooltip_btn{width: 20px;height: 20px;background: url(../img/common/ico_tooltip.svg) no-repeat center top;margin-left: 4px;}
.tooltip_wrap .tooltip_cont{display: none;padding:24px;border:1px solid #C6C6C6;border-radius: 12px;background: #fff;max-width: 560px;min-width: 160px;position: absolute;z-index: 10;width: 560px;}
.tooltip_wrap .tooltip_cont::before{content: '';width: 22px;height: 12px;background: url(../img/common/ico_tool_arr.svg) no-repeat center top;position: absolute;bottom: -12px;}
.tooltip_wrap .tooltip_cont .txtBody3{padding:16px 0 24px;}
.tooltip_wrap .tooltip_cont .btn_more{display: inline-block;background: url(../img/common/ico_btn_more.svg) no-repeat right center;padding-right: 16px;}
.tooltip_wrap .tooltip_cont .tooltip_close{width: 12px;height: 12px;position: absolute;right: 26px;top: 26px;background: url(../img/common/ico_tooltip_close.svg) no-repeat right center;}
/* 도움말 - 위치에 따라 클래스 추가 */
.tooltip_wrap.top .tooltip_cont{bottom:100%;margin-bottom: 12px;}
.tooltip_wrap.left .tooltip_cont{left: 0;}
.tooltip_wrap.left .tooltip_cont::before{left: 40px;}
.tooltip_wrap.center .tooltip_cont::before{left: 50%;margin-left: -6px;}
.tooltip_wrap.center .tooltip_cont{left: 50%;transform: translateX(-50%);}
.tooltip_wrap.right .tooltip_cont{right: 0;}
.tooltip_wrap.right .tooltip_cont::before{right: 40px;}
.tooltip_wrap.bottom .tooltip_cont{top:100%;margin-top: 12px;}
.tooltip_wrap.bottom .tooltip_cont::before{top:-12px;bottom:auto;transform:rotate(-180deg);}
@media only screen and  (max-width:600px){
  .tooltip_wrap{width: 100%;}
  .tooltip_wrap .tooltip_cont{width: auto;max-width:100%;}
  .tooltip_wrap.center .tooltip_cont{transform: none;left: auto;}
}

/* tab 공통 */
.tab_area{width:100%;}
.tab_panel{display:none;margin-top:40px;}
.tab_panel.active{display:flex;align-items:normal;justify-content:start;flex-wrap:wrap;}

/* 디바이스 너비보다 ul의 너비가 클 경우 scroll 이벤트 탭 */
.tab_list_wrap > ul{display:flex;align-items:center;}
.tab_list_wrap > ul li,
.tab_list_wrap > ul .btn_tab{position:relative;box-sizing:border-box;}
.tab_list_wrap > ul .btn_tab{width:100%;height:56px;background-color:#fff;color:#555;font-weight:600;border:none;font-size:19px;transition: 0.4s ease-in-out;padding:0 4px;box-sizing:border-box;}
.tab_list_wrap > ul .btn_tab:hover{border-radius:6px;background-color:#EDF1F5;}
.tab_list_wrap > ul .btn_tab:active{background-color:#B4C4D6;}
.tab_list_wrap > ul .btn_tab:focus{outline-offset:-4px;outline:2px solid rgba(36, 107, 235, 0.8);}
.tab_list_wrap > ul .btn_tab:disabled{cursor:default;color:#8E8E8E;}
.tab_list_wrap > ul .btn_tab:disabled:hover{border-radius:0;background-color:#fff;}
.tab_list_wrap > ul .btn_tab:disabled:active{background-color:#fff;}
.tab_list_wrap > ul .btn_tab:disabled:focus{outline:none;}
.tab_list_wrap > ul .btn_tab::before{content:"";position:absolute;width:0;height:4px;background:var(--second);transition: 0.4s ease-in-out;left:50%;bottom:0px;}
.tab_list_wrap > ul .active .btn_tab::before{left:0;width:100%;}
.tab_list_wrap > ul .active .btn_tab{color:var(--second);}
.tab_list_wrap > ul li{white-space:nowrap;margin-right:16px;}
.tab_list_wrap > ul li:last-child{margin-right:0;}
.tab_list_wrap.tab_width > ul li{white-space:initial;}
.tab_width > ul{width:100%;margin-right:0;}
.tab_width > ul li{flex:1 0 16.667%;margin-right: 0;}
.tab_width > ul li .btn_tab{border-bottom:2px solid #D8D8D8;}
.tab_width > ul .btn_tab::before{bottom:-2px;}
.tab_width > ul .btn_tab:hover{border-bottom-left-radius:0;border-bottom-right-radius:0;}
.tab_width > ul .btn_tab:disabled:hover{border-radius:0;}
.tab_basic.scroll{width:100%;position:relative;box-sizing:border-box;overflow:hidden;touch-action:auto;}
.tab_basic.scroll > ul{white-space:nowrap;flex-wrap:nowrap;touch-action:auto;overflow-x:auto;}
.scroll_btn{position:absolute;width:32px;height:100%;top:0;z-index:80;pointer-events:auto;overflow:hidden;background-repeat:no-repeat;overflow:hidden;background-size:32px auto;background-position-y:center;}
.scroll_btn.scroll_prev{left:0;}
.scroll_btn.scroll_next{right:0;}
.scroll_btn.scroll_prev{background-image:url(../img/common/ico_tab_btn_prev.svg);background-position-x:left;}
.scroll_btn.scroll_next{background-image:url(../img/common/ico_tab_btn_next.svg);background-position-x:right;}
.scroll_btn.disabled{opacity:0.5;cursor:default;pointer-events:none;}
.tab_basic.scroll > ul::-webkit-scrollbar{height:0;}
@media screen and (max-width:1024px) {
    .tab_list_wrap > ul .btn_tab{height:48px;font-size:17px;}
    .tab_width > ul{width:auto;}
    .tab_width > ul li{flex:unset;white-space:nowrap;margin-right:16px;}
    .tab_list_wrap.tab_width > ul li{white-space:nowrap;}
    .tab_width > ul li:last-child{margin-right:0;}
    .tab_width > ul li .btn_tab{border-bottom:none;}
    .tab_list_wrap.scroll{position:relative;overflow:hidden;}
    .tab_list_wrap.scroll ul{white-space:nowrap;flex-wrap:nowrap;touch-action:auto;overflow:hidden;overflow-x:auto;}
    .tab_list_wrap.scroll ul::-webkit-scrollbar{height:0;}
    .tab_width > ul .btn_tab::before{bottom:0;}    
}

/* 반응형 셀렉트 탭 */
@media screen and (min-width: 1024px) {
  .tab_drop_wrap > .tab_drop_btn{display:none;}
  .tab_drop_wrap .tab_drop_menu{display:block !important;padding:0;border:none;box-shadow:none;background:none;position:relative;top:0;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list{display:flex;flex-direction:row;align-items:stretch;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list > li{flex:1 1 0px;display:inline-flex;align-items:center;justify-content:center;padding:0;height:56px;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list > li + li{margin-left:0;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list > li + li .btn_tab{border-left:none;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list .btn_tab{width:100%;height:100%;border-radius:0;border:1px solid #B4C4D6;font-size:19px;font-weight:700;justify-content:center;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list .btn_tab:focus{outline-offset:-4px;outline:2px solid rgba(36, 107, 235, 0.8);}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list .active .btn_tab{background-color:#003675;border-color:#003675;color:#fff;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list > li:first-child .btn_tab{border-radius:6px 0 0 6px;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list > li:last-child .btn_tab{border-radius:0 6px 6px 0;}
}
@media screen and (max-width: 1023px) {
  .tab_drop_wrap{position:relative;display:inline-flex;width:100%;}
  .tab_drop_wrap > .tab_drop_btn{text-align:left;display:inline-flex;align-items:center;justify-content:space-between;padding:0 52px 0 16px;border:1px solid #717171;border-radius:8px;height:56px;font-size:19px;white-space:nowrap;width:100%;box-sizing:border-box;position:relative;}
  .tab_drop_wrap > .tab_drop_btn::after{content:"";display:inline-flex;position:absolute;right:16px;width:24px;height:24px;background:url(../img/common/ico_arr_16_down.svg)no-repeat center;background-size:contain;}
  .tab_drop_wrap .tab_drop_menu{display:none;position:absolute;box-sizing:border-box;top:100%;left:0;z-index:6;width:100%;padding:8px 16px;border-radius:8px;border:1px solid #d8d8d8;background-color:#fff;box-shadow:0 4px 12px rgba(0,0,0,0.12);}
  .tab_drop_wrap .tab_drop_menu .tab_drop_in{display:flex;flex-direction:column;align-items:start;justify-content:start;box-sizing:border-box;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list{width:100%;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list .item_link{display:flex;align-items:center;justify-content:start;height:56px;padding:0 16px;font-size:17px;border-radius:6px;box-sizing:border-box;}
  .tab_drop_wrap .tab_drop_menu .tab_drop_list .item_link:hover{background-color:#EDF1F5;color:#003675;}
}

/*** Component ***/
.txtL {text-align:left !important;}
.txtC {text-align:center !important;}
.txtR {text-align:right !important;}

.fL {float:left !important;}
.fR {float:right !important;}
.cB {clear:both !important;}
.cB::after{content:"";display: block;clear: both;}

.mT0 {margin-top:0px !important;}
.mT1 {margin-top:1px !important;}
.mT2 {margin-top:2px !important;}
.mT3 {margin-top:3px !important;}
.mT4 {margin-top:4px !important;}
.mT5 {margin-top:5px !important;}
.mT6 {margin-top:6px !important;}
.mT7 {margin-top:7px !important;}
.mT8 {margin-top:8px !important;}
.mT9 {margin-top:9px !important;}
.mT10 {margin-top:10px !important;}
.mT11 {margin-top:11px !important;}
.mT12 {margin-top:12px !important;}
.mT13 {margin-top:13px !important;}
.mT14 {margin-top:14px !important;}
.mT15 {margin-top:15px !important;}
.mT16 {margin-top:16px !important;}
.mT17 {margin-top:17px !important;}
.mT18 {margin-top:18px !important;}
.mT19 {margin-top:19px !important;}
.mT20 {margin-top:20px !important;}
.mT21 {margin-top:21px !important;}
.mT22 {margin-top:22px !important;}
.mT23 {margin-top:23px !important;}
.mT24 {margin-top:24px !important;}
.mT25 {margin-top:25px !important;}
.mT26 {margin-top:26px !important;}
.mT27 {margin-top:27px !important;}
.mT28 {margin-top:28px !important;}
.mT29 {margin-top:29px !important;}
.mT30 {margin-top:30px !important;}
.mT35 {margin-top:35px !important;}
.mT40 {margin-top:40px !important;}
.mT45 {margin-top:45px !important;}
.mT50 {margin-top:50px !important;}
.mT70 {margin-top:70px !important;}
.mT80 {margin-top:80px !important;}
.mT120 {margin-top:120px !important;}

.mR0 {margin-right:0px !important;}
.mR1 {margin-right:1px !important;}
.mR2 {margin-right:2px !important;}
.mR3 {margin-right:3px !important;}
.mR4 {margin-right:4px !important;}
.mR5 {margin-right:5px !important;}
.mR6 {margin-right:6px !important;}
.mR7 {margin-right:7px !important;}
.mR8 {margin-right:8px !important;}
.mR9 {margin-right:9px !important;}
.mR10 {margin-right:10px !important;}
.mR11 {margin-right:11px !important;}
.mR12 {margin-right:12px !important;}
.mR13 {margin-right:13px !important;}
.mR14 {margin-right:14px !important;}
.mR15 {margin-right:15px !important;}
.mR16 {margin-right:16px !important;}
.mR17 {margin-right:17px !important;}
.mR18 {margin-right:18px !important;}
.mR19 {margin-right:19px !important;}
.mR20 {margin-right:20px !important;}
.mR21 {margin-right:21px !important;}
.mR22 {margin-right:22px !important;}
.mR23 {margin-right:23px !important;}
.mR24 {margin-right:24px !important;}
.mR25 {margin-right:25px !important;}
.mR26 {margin-right:26px !important;}
.mR27 {margin-right:27px !important;}
.mR28 {margin-right:28px !important;}
.mR29 {margin-right:29px !important;}
.mR30 {margin-right:30px !important;}
.mR35 {margin-right:35px !important;}
.mR40 {margin-right:40px !important;}
.mR45 {margin-right:45px !important;}
.mR50 {margin-right:50px !important;}

.mB0 {margin-bottom:0px !important;}
.mB1 {margin-bottom:1px !important;}
.mB2 {margin-bottom:2px !important;}
.mB3 {margin-bottom:3px !important;}
.mB4 {margin-bottom:4px !important;}
.mB5 {margin-bottom:5px !important;}
.mB6 {margin-bottom:6px !important;}
.mB7 {margin-bottom:7px !important;}
.mB8 {margin-bottom:8px !important;}
.mB9 {margin-bottom:9px !important;}
.mB10 {margin-bottom:10px !important;}
.mB11 {margin-bottom:11px !important;}
.mB12 {margin-bottom:12px !important;}
.mB13 {margin-bottom:13px !important;}
.mB14 {margin-bottom:14px !important;}
.mB15 {margin-bottom:15px !important;}
.mB16 {margin-bottom:16px !important;}
.mB17 {margin-bottom:17px !important;}
.mB18 {margin-bottom:18px !important;}
.mB19 {margin-bottom:19px !important;}
.mB20 {margin-bottom:20px !important;}
.mB21 {margin-bottom:21px !important;}
.mB22 {margin-bottom:22px !important;}
.mB23 {margin-bottom:23px !important;}
.mB24 {margin-bottom:24px !important;}
.mB25 {margin-bottom:25px !important;}
.mB26 {margin-bottom:26px !important;}
.mB27 {margin-bottom:27px !important;}
.mB28 {margin-bottom:28px !important;}
.mB29 {margin-bottom:29px !important;}
.mB30 {margin-bottom:30px !important;}
.mB35 {margin-bottom:35px !important;}
.mB40 {margin-bottom:40px !important;}
.mB45 {margin-bottom:45px !important;}
.mB50 {margin-bottom:50px !important;}
.mB70 {margin-bottom:70px !important;}

.mL0 {margin-left:0px !important;}
.mL1 {margin-left:1px !important;}
.mL2 {margin-left:2px !important;}
.mL3 {margin-left:3px !important;}
.mL4 {margin-left:4px !important;}
.mL5 {margin-left:5px !important;}
.mL6 {margin-left:6px !important;}
.mL7 {margin-left:7px !important;}
.mL8 {margin-left:8px !important;}
.mL9 {margin-left:9px !important;}
.mL10 {margin-left:10px !important;}
.mL11 {margin-left:11px !important;}
.mL12 {margin-left:12px !important;}
.mL13 {margin-left:13px !important;}
.mL14 {margin-left:14px !important;}
.mL15 {margin-left:15px !important;}
.mL16 {margin-left:16px !important;}
.mL17 {margin-left:17px !important;}
.mL18 {margin-left:18px !important;}
.mL19 {margin-left:19px !important;}
.mL20 {margin-left:20px !important;}
.mL21 {margin-left:21px !important;}
.mL22 {margin-left:22px !important;}
.mL23 {margin-left:23px !important;}
.mL24 {margin-left:24px !important;}
.mL25 {margin-left:25px !important;}
.mL26 {margin-left:26px !important;}
.mL27 {margin-left:27px !important;}
.mL28 {margin-left:28px !important;}
.mL29 {margin-left:29px !important;}
.mL30 {margin-left:30px !important;}
.mL35 {margin-left:35px !important;}
.mL40 {margin-left:40px !important;}
.mL45 {margin-left:45px !important;}
.mL50 {margin-left:50px !important;}

.pT0 {padding-top:0px !important;}
.pT1 {padding-top:1px !important;}
.pT2 {padding-top:2px !important;}
.pT3 {padding-top:3px !important;}
.pT4 {padding-top:4px !important;}
.pT5 {padding-top:5px !important;}
.pT6 {padding-top:6px !important;}
.pT7 {padding-top:7px !important;}
.pT8 {padding-top:8px !important;}
.pT9 {padding-top:9px !important;}
.pT10 {padding-top:10px !important;}
.pT11 {padding-top:11px !important;}
.pT12 {padding-top:12px !important;}
.pT13 {padding-top:13px !important;}
.pT14 {padding-top:14px !important;}
.pT15 {padding-top:15px !important;}
.pT16 {padding-top:16px !important;}
.pT17 {padding-top:17px !important;}
.pT18 {padding-top:18px !important;}
.pT19 {padding-top:19px !important;}
.pT20 {padding-top:20px !important;}
.pT21 {padding-top:21px !important;}
.pT22 {padding-top:22px !important;}
.pT23 {padding-top:23px !important;}
.pT24 {padding-top:24px !important;}
.pT25 {padding-top:25px !important;}
.pT26 {padding-top:26px !important;}
.pT27 {padding-top:27px !important;}
.pT28 {padding-top:28px !important;}
.pT29 {padding-top:29px !important;}
.pT30 {padding-top:30px !important;}
.pT35 {padding-top:35px !important;}
.pT40 {padding-top:40px !important;}
.pT45 {padding-top:45px !important;}
.pT50 {padding-top:50px !important;}

.pR0 {padding-right:0px !important;}
.pR1 {padding-right:1px !important;}
.pR2 {padding-right:2px !important;}
.pR3 {padding-right:3px !important;}
.pR4 {padding-right:4px !important;}
.pR5 {padding-right:5px !important;}
.pR6 {padding-right:6px !important;}
.pR7 {padding-right:7px !important;}
.pR8 {padding-right:8px !important;}
.pR9 {padding-right:9px !important;}
.pR10 {padding-right:10px !important;}
.pR11 {padding-right:11px !important;}
.pR12 {padding-right:12px !important;}
.pR13 {padding-right:13px !important;}
.pR14 {padding-right:14px !important;}
.pR15 {padding-right:15px !important;}
.pR16 {padding-right:16px !important;}
.pR17 {padding-right:17px !important;}
.pR18 {padding-right:18px !important;}
.pR19 {padding-right:19px !important;}
.pR20 {padding-right:20px !important;}
.pR21 {padding-right:21px !important;}
.pR22 {padding-right:22px !important;}
.pR23 {padding-right:23px !important;}
.pR24 {padding-right:24px !important;}
.pR25 {padding-right:25px !important;}
.pR26 {padding-right:26px !important;}
.pR27 {padding-right:27px !important;}
.pR28 {padding-right:28px !important;}
.pR29 {padding-right:29px !important;}
.pR30 {padding-right:30px !important;}
.pR35 {padding-right:35px !important;}
.pR40 {padding-right:40px !important;}
.pR45 {padding-right:45px !important;}
.pR50 {padding-right:50px !important;}

.pB0 {padding-bottom:0px !important;}
.pB1 {padding-bottom:1px !important;}
.pB2 {padding-bottom:2px !important;}
.pB3 {padding-bottom:3px !important;}
.pB4 {padding-bottom:4px !important;}
.pB5 {padding-bottom:5px !important;}
.pB6 {padding-bottom:6px !important;}
.pB7 {padding-bottom:7px !important;}
.pB8 {padding-bottom:8px !important;}
.pB9 {padding-bottom:9px !important;}
.pB10 {padding-bottom:10px !important;}
.pB11 {padding-bottom:11px !important;}
.pB12 {padding-bottom:12px !important;}
.pB13 {padding-bottom:13px !important;}
.pB14 {padding-bottom:14px !important;}
.pB15 {padding-bottom:15px !important;}
.pB16 {padding-bottom:16px !important;}
.pB17 {padding-bottom:17px !important;}
.pB18 {padding-bottom:18px !important;}
.pB19 {padding-bottom:19px !important;}
.pB20 {padding-bottom:20px !important;}
.pB21 {padding-bottom:21px !important;}
.pB22 {padding-bottom:22px !important;}
.pB23 {padding-bottom:23px !important;}
.pB24 {padding-bottom:24px !important;}
.pB25 {padding-bottom:25px !important;}
.pB26 {padding-bottom:26px !important;}
.pB27 {padding-bottom:27px !important;}
.pB28 {padding-bottom:28px !important;}
.pB29 {padding-bottom:29px !important;}
.pB30 {padding-bottom:30px !important;}
.pB35 {padding-bottom:35px !important;}
.pB40 {padding-bottom:40px !important;}
.pB45 {padding-bottom:45px !important;}
.pB50 {padding-bottom:50px !important;}

.pL0 {padding-left:0px !important;}
.pL1 {padding-left:1px !important;}
.pL2 {padding-left:2px !important;}
.pL3 {padding-left:3px !important;}
.pL4 {padding-left:4px !important;}
.pL5 {padding-left:5px !important;}
.pL6 {padding-left:6px !important;}
.pL7 {padding-left:7px !important;}
.pL8 {padding-left:8px !important;}
.pL9 {padding-left:9px !important;}
.pL10 {padding-left:10px !important;}
.pL11 {padding-left:11px !important;}
.pL12 {padding-left:12px !important;}
.pL13 {padding-left:13px !important;}
.pL14 {padding-left:14px !important;}
.pL15 {padding-left:15px !important;}
.pL16 {padding-left:16px !important;}
.pL17 {padding-left:17px !important;}
.pL18 {padding-left:18px !important;}
.pL19 {padding-left:19px !important;}
.pL20 {padding-left:20px !important;}
.pL21 {padding-left:21px !important;}
.pL22 {padding-left:22px !important;}
.pL23 {padding-left:23px !important;}
.pL24 {padding-left:24px !important;}
.pL25 {padding-left:25px !important;}
.pL26 {padding-left:26px !important;}
.pL27 {padding-left:27px !important;}
.pL28 {padding-left:28px !important;}
.pL29 {padding-left:29px !important;}
.pL30 {padding-left:30px !important;}
.pL35 {padding-left:35px !important;}
.pL40 {padding-left:40px !important;}
.pL45 {padding-left:45px !important;}
.pL50 {padding-left:50px !important;}

@page {margin: 0;}  


/*** Layout ***/
/* .alt_hidden, legend {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}
caption>p, caption>strong, .scHdn, .screen_out {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}
.typeMain .topNotice ~ #header {margin-top:48px !important}
.typeMain #header {margin-top:0 !important}
.lineList_v dt.scHdn {position: absolute !important;}

#dim,
#gnb_dim {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;visibility:hidden;opacity:0;}
#dim.on {display:block;visibility:visible;opacity:0.5;z-index:1300;}
#gnb_dim.on {display:block;visibility:visible;opacity:0.5;z-index:901;}

#skip_menu a{position:absolute;display:block;opacity:0;}
#skip_menu a:focus{padding:10px;background:#000;font-size:15px;color:#fff;opacity:1;z-index:2000} */