@charset "utf-8";

/* 공통 */
*:focus{outline:2px solid rgba(36, 107, 235, 0.8);outline-offset:-4px;transition:none;}
.scHdn{position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}
.sr_only{position:absolute !important;width:1px !important;height:1px !important;padding:0 !important;margin:-1px !important;overflow:hidden !important;clip:rect(0, 0, 0, 0) !important;white-space:nowrap !important;border:0 !important;}


/* 공식배너 */
.masthead {position:relative;background-color:#EDF1F5;z-index:70;}
.masthead .inner{position:relative;display:flex;align-items:center;justify-content:flex-start;flex-direction:row;flex-wrap:wrap;width:1328px; max-width:100%;margin:0 auto;padding:0 24px 0 56px;min-height:32px;}
.masthead .inner::before{content:"";display:inline-flex;width:24px;height:16px;margin-right:8px;position:absolute;left:24px;background:url(../img/layout/img_taegeukgi.svg) no-repeat;background-size:contain;}
.masthead .inner .txt{font-size:15px;word-break:break-all;}
@media screen and (max-width:1023px) {
    .masthead .inner{padding-left:48px;padding-right:16px;}
    .masthead .inner::before{left:18px;}
}

/* header */
html{scroll-behavior:smooth;}
body.scroll_no{overflow:hidden !important;}
#skip_nav {position:fixed;top:0;left:0;z-index:10000;width:100%;text-align:center;}
#skip_nav a{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0}
#skip_nav a:focus{display:flex;align-items:center;justify-content:center;flex-direction:row;outline-offset:-4px;outline:2px solid rgba(255,255,255,0.9);font-size:15px;color:#fff;width:100%;height:32px;margin:0 auto;text-align:center;clip:inherit;background-color:#1d1d1d;}
.gnb_backdrop{position:fixed;top:0;right:0;width:100%;height:100%;z-index:60;background-color:rgba(0,0,0,0.5);display:none;}
.header{position:sticky;top:0;left:0;z-index:70;border-bottom:1px solid #d8d8d8;background-color:#fff;box-sizing:initial;}
.scroll_down .header,.scroll_up .header{position:relative;border-bottom:none;}
.header_wrap{position:relative;transform:translateY(0);}
.scroll_down .header_wrap,.scroll_up .header_wrap{position:fixed;top:0;left:0;z-index:100;width:100%;border-bottom:1px solid #d8d8d8;background-color:#fff;transition:transform ease 0.4s 0.01s;}
.scroll_down .header_wrap{transform:translateY(-100%);}
.scroll_up .header_wrap{transform:translateY(0%);}
.header_body>.inner{display:flex;justify-content:flex-start;flex-direction:column;padding:12px 24px 16px;margin:0 auto;width:1328px;max-width:100%;}
.header_etc{display:flex;align-items:flex-start;justify-content:flex-end;flex-direction:row;margin-bottom:8px;}
.header .etc_list{display:flex;align-items:flex-start;justify-content:flex-end;flex-direction:row;}
.header .etc_list>li{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;margin-left:8px;}
.header .etc_list>li:first-child{margin-left:0;}
.header .etc_list>li::before{content:"";display:inline-flex;width:1px;height:16px;background-color:#d8d8d8;margin-right:8px;}
.header .etc_list>li:first-child::before{display:none;}
.header .btn_txt{display:inline-flex;align-items:center;justify-content:center;font-weight:400;color:inherit;padding:0 2px;white-space:nowrap;line-height:1;height:32px;font-size:15px;border-radius:6px;}
.header .btn_txt:hover{background-color:#edf1f5;transition:0.4s ease-in-out;}
.header .btn_txt.active, .header .btn_txt:active{background-color:#CDD7E4;}
.header .drop_list a:hover{background-color:#edf1f5;}
.header .drop_list a:active{background-color:#CDD7E4;}
.header .btn_txt[class*=icon_]::after{content:"";display:inline-flex;width:16px;height:16px;background-repeat:no-repeat;background-position:center;margin-left:2px;}
.icon_direct::after{background-image:url(../img/layout/icon_direct_link.svg);background-size:contain;}
.icon_arrow_down::after{background-image:url(../img/layout/icon_arrow_down_black.svg);}
.icon_reset::after,.icon_reset::before{background-image:url(../img/layout/icon_reset_btn.svg);}
.header .drop_wrap{position:relative;display:inline-flex;width:auto;}
.header .drop_menu{display:none;position:absolute;top:100%;left:50%;z-index:6;min-width:130px !important;padding:8px !important;margin-top:16px;border-radius:8px;border:1px solid #d8d8d8;background-color:#fff;box-shadow:0 4px 12px 0 rgba(0,0,0,0.12);transform:translateX(-50%);}
.header .active+.drop_menu{display:block;}
.header .drop_menu::before{content:"";display:inline-flex;position:absolute;left:50%;bottom:100%;width:20px;height:12px;background-image:url(../img/layout/icon_drop_arrow.svg);transform:translateX(-50%);}
.header .drop_inner{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;}
.header .drop_inner>*{margin-bottom:8px;}
.header .drop_inner>*:last-child{margin-bottom:0;}
.header .drop_list{width:100%;}
.header .drop_list a{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;font-size:17px;height:48px;padding:0 8px !important;border-radius:6px;white-space:nowrap;}
.header .drop_list .btn_txt[class*=icon_]::after{margin-left:8px;}
.header .drop_menu .drop_bottom{display:flex;align-items:flex-start;justify-content:center;flex-direction:row;width:100%;padding:8px 16px 0;border-top:1px solid #d8d8d8;}
.header .drop_menu .drop_bottom>*{flex:1;}
.header .btn_txt[class*=icon_].icon_before::before{content:"";display:inline-flex;width:16px;height:16px;background-repeat:no-repeat;background-position:center;}
.header .btn_txt[class*=icon_].icon_before::after{display:none;}
.header .btn_txt.icon_reset{font-size:17px;height:40px;flex:1;}
.header .btn_txt.icon_reset::before{width:20px !important;height:20px !important;margin-right:4px;}
.header .zoom_drop .drop_menu{width:150px;}
.header .zoom_drop .drop_list a::before{content:"가";display:inline-flex;align-items:center;justify-content:center;flex-direction:row;flex-shrink:0;line-height:1;padding:0 4px;border-radius:4px;border:1px solid #d8d8d8;background-color:#fff;margin-right:8px;}
.header .zoom_drop .drop_list a.active{font-weight:700;color:#003675;background-color:#edf1f5;}
.header .zoom_drop .drop_list a.active::before{color:#fff;background-color:#003675;}
.header .zoom_drop .drop_list> li:nth-child(1) a::before{font-size:15px;width:21px;height:21px;}
.header .zoom_drop .drop_list> li:nth-child(2) a::before{font-size:17px;width:24px;height:24px;}
.header .zoom_drop .drop_list> li:nth-child(3) a::before{font-size:19px;width:25px;height:25px;}
.header .zoom_drop .drop_list> li:nth-child(4) a::before{font-size:21px;width:27px;height:27px;}
.header .zoom_drop .drop_list> li:nth-child(5) a::before{font-size:25px;width:30px;height:30px;}
.header .my_drop .drop_menu{width:210px;}
.header .my_drop .drop_menu .drop_top_info{width:100%;padding:16px 16px 6px;border-bottom:1px solid #d8d8d8;}
.header .my_drop .my_name{font-size:19px;font-weight:700;line-height:1.1;margin-bottom:16px;}
.header .my_drop .my_time dt{font-size:15px;color:#555;}
.header .my_drop .my_time dd{display:flex;align-items:center;justify-content:space-between;flex-direction:row;}
.header .my_drop .my_time .time{display:inline-flex;align-items:center;justify-content:flex-start;flex-direction:row;font-size:15px;color:#1d56bc;}
.header .my_drop .my_time .time::before{content:"";display:inline-flex;width:16px;height:16px;background:url(../img/layout/icon_mytime.svg)no-repeat center;background-size:contain;margin-right:2px;}
.header .my_drop .my_time .btn_txt{height:40px;font-size:17px;}
.header .my_drop .drop_bottom .btn_txt{font-size:17px;height:40px;}
.header .my_drop .drop_bottom .icon_logout::before{width:20px;height:20px;background-image:url(../img/layout/icon_hd_logout.svg);background-size:contain;margin-right:4px;}
.header_cnt{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;}
.header_cnt .logo{display:inline-flex;}
.header_cnt .logo a{display:inline-flex;align-items:center;justify-content:flex-start;flex-direction:row;}
.header_cnt .logo a>*{margin-right:32px;}
.header_cnt .logo a>*:last-child{margin-right:0;}
.header_cnt .right{display:inline-flex;margin-left:auto;}
.header_cnt .right>*{margin-left:8px;}
.header_cnt .right>*:first-child{margin-left:0;}
.header_cnt .btn_navi{display:inline-flex;align-items:center;justify-content:space-between;flex-direction:column;padding:4px 12px;font-size:17px;font-weight:700;color:#1d1d1d;line-height:1;}
.header_cnt .btn_navi::before{content:"";display:inline-flex;width:24px;height:24px;background-repeat:no-repeat;background-size:contain;margin-bottom:12px;}
.header_cnt .btn_navi.search::before{background-image:url(../img/layout/icon_hd_search.svg);}
.header_cnt .btn_navi.login::before{background-image:url(../img/layout/icon_hd_login.svg);}
.header_cnt .btn_navi.logout::before{background-image:url(../img/layout/icon_hd_logout.svg);background-size:auto 18px;background-position:center top 3px;}
.header_cnt .btn_navi.join::before{background-image:url(../img/layout/icon_hd_join.svg);}
.header_cnt .btn_navi.myinfo::before{background-image:url(../img/layout/icon_myinfo.svg);}
.header_cnt .btn_navi.all{display:none;}
.header_cnt .btn_navi:hover{background-color:#edf1f5;transition:0.4s ease-in-out;border-radius:6px;}
.header_cnt .btn_navi:active,.header_cnt .btn_navi.active{background-color:#CDD7E4;transition:0.4s ease-in-out;}
.header_gnb{border-top:1px solid #d8d8d8;background-color:#fff;}
.header_gnb>.inner{padding:0 24px;margin:0 auto;width:1328px;max-width:100%;}
.header_gnb .gnb_menu{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;}
.header_gnb .gnb_menu>li{margin-right:16px;}
.header_gnb .gnb_menu>li:last-child{margin-right:0}
.header_gnb .gnb_menu .gnb_1depth{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;height:62px;color:#555;padding:0 16px;font-size:19px;font-weight:700;}
.header_gnb .gnb_menu .gnb_1depth>*{font-weight:700;font-size:inherit;color:inherit;}
.header_gnb .gnb_menu .gnb_1depth::after{content:"";display:inline-flex;width:20px;height:20px;background:url(../img/layout/icon_gnb_arrow.svg) no-repeat;margin-left:8px;}
.header_gnb .gnb_menu .gnb_1depth.active{background-color:#CDD7E4;color:#1d1d1d;}
.header_gnb .gnb_menu .gnb_1depth.active::after{transform:rotate(-180deg);}
.header_gnb .gnb_menu .gnb_1depth:hover{color:#003675;border-color:#003675;background-color:#fff;}
.header_gnb .gnb_menu .gnb_1depth.active:hover{color:#1d1d1d;border-color:inherit;background-color:#CDD7E4;}
.header_gnb .gnb_menu .gnb_1depth.link::after{display:none;}
.header_gnb .gnb_depth_wrap{position:absolute;top:calc(100% + 1px);left:0;width:100%;background-color:#fff;display:none;}
.header_gnb .gnb_depth_wrap.active{display:block;}
.header_gnb .gnb_depth_wrap .gnb_main_list{position:relative;max-width:1280px;margin:0 auto;}
.header_gnb .gnb_depth_wrap .gnb_main_list:has(.gnb_2depth_list)::before{content:"";position:absolute;top:0;left:0;width:266px;height:100%;display:block;background-color:#edf1f5;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_2depth_list{position:relative;padding:16px 0;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_2depth_list > li{width:266px;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_2depth{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;width:100%;height:56px;padding:0 24px;font-weight:700;text-align:left;font-size:17px;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_2depth.active{color:#003675;background-color:#fff;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_2depth::after{margin-left:8px;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_2depth.link::after{content:"";display:inline-flex;width:20px;height:20px;background:url(../img/layout/icon_direct_link.svg)no-repeat;}
.header_gnb .gnb_depth_wrap .gnb_sub_list{position:absolute;top:0;left:266px;right:0;min-height:100%;padding:24px 40px;display:none;}
.header_gnb .gnb_depth_wrap .gnb_2depth.active+.gnb_sub_list{display:flex;justify-content:flex-start;flex-direction:column;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content{display:flex;justify-content:flex-start;flex-direction:column;flex:1;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .sub_title{display:flex;align-items:flex-start;justify-content:center;flex-direction:column;line-height:56px;height:56px;padding:0 8px;font-size:25px;font-weight:700;margin-bottom:24px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .sub_title>a{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;gap:8px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .sub_title>a::after{content:"";display:inline-flex;width:20px;height:20px;background:url(../img/layout/icon_gnb_arrow_right.svg)no-repeat center;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content>ul{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-gap:8px 16px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .gnb_3depth{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;width:100%;gap:4px;padding:8px;font-size:17px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .gnb_3depth::before{content:"･";margin-top:4px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content a:hover,.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content button:hover{background-color:#EDF1F5;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content a:active,.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content button:active{background-color:#CDD7E4;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_sub_banner{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;margin:16px 16px 0;padding:16px;background-color:#fff;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_sub_banner .sub_badge{margin-bottom:8px;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_sub_banner .btn_sub_text{margin-bottom:8px;}
.header_gnb .gnb_depth_wrap .gnb_main_list .gnb_sub_banner .btn_sub_text:last-child{margin-bottom:0;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_banner{align-items:center;flex-direction:row;padding:12px 16px;border-radius:8px;background-color:#f8f8f8;margin-top:24px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_banner .sub_badge{margin-bottom:0;margin-right:16px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_banner .btn_sub_text{margin-bottom:0;margin-right:16px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_banner .btn_sub_text:last-child{margin-right:0;}
.sub_badge{display:inline-flex;align-items:center;justify-content:center;flex-direction:row;font-size:15px;color:#1d56bc;height:24px;padding:0 8px;border-radius:4px;background-color:#eff5ff;}
.sub_badge.bg1{color:#fff;background-color:#246beb;}
.gnb_sub_banner .btn_sub_text{display:flex;align-items:center;font-size:17px;}
.gnb_sub_banner .btn_sub_text::after{content:"";display:inline-flex;width:20px;height:20px;background:url(../img/layout/icon_gnb_arrow_right.svg) no-repeat center;}
.header_gnb .gnb_depth_wrap .gnb_sub_list.between{flex-direction:row !important;padding-right:0;}
.header_gnb .gnb_depth_wrap .gnb_sub_list.between .gnb_sub_content>ul{grid-template-columns:1fr 1fr 1fr;}
.header_gnb .gnb_depth_wrap .gnb_sub_list.between .gnb_sub_banner{align-items:flex-start;flex-direction:column;width:262px;padding:24px;margin-left:40px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list.between .gnb_sub_banner .sub_badge{margin-bottom:8px;margin-right:0;}
.header_gnb .gnb_depth_wrap .gnb_sub_list.between .gnb_sub_banner .btn_sub_text{margin-bottom:8px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list.between .gnb_sub_banner .btn_sub_text:last-child{margin-bottom:0;}
.header_gnb .gnb_depth_wrap .gnb_main_list>.gnb_sub_list{display:flex;position:static;padding:16px 0 40px;}
.header_gnb .gnb_depth_wrap .gnb_main_list>.gnb_sub_list .gnb_sub_content .sub_title{padding-bottom:16px;border-bottom:1px solid #d8d8d8;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .type_desc{grid-template-columns:1fr 1fr 1fr;grid-gap:40px 56px;padding-bottom:16px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .type_desc li{display:flex;justify-content:flex-start;flex-direction:column;padding:0;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .type_desc li .title{font-size:19px;font-weight:700;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .type_desc li .title a{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;height:40px;padding:0 4px;width:100%;gap:4px;font-size:inherit;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .type_desc li .title a.link::after{content:"";display:inline-flex;width:20px;height:20px;background:url(../img/layout/icon_direct_link.svg) no-repeat center;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .type_desc li .txt{color:#555;padding:16px 4px 0;margin-top:4px;border-top:1px solid #d8d8d8;font-size:17px;}
.header_gnb .gnb_depth_wrap .gnb_sub_list.between .gnb_sub_content .type_desc{grid-template-columns:1fr 1fr;}
.mobile_gnb{display:none;}
.footer_links{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-gap:8px 16px;}
.footer_links li a{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:row;gap:4px;padding:12px 8px;border-radius:8px;word-break:break-all;font-size:17px;}
.footer_links li a::before{content:"･";margin-top:1px;font-size:inherit;}
.footer_links li a:hover{background-color:#CDD7E4;}
.footer_links li a:active{background-color:#B4C4D6;}
.pop_total_search_wrap{max-width:846px;padding:80px 0 40px;margin:0 auto;}
.pop_total_search_wrap .search_total_top{position:sticky;top:0;padding-bottom:40px;border-bottom:1px solid #c6c6c6;background-color:#dee2e8;z-index:1;}
.pop_total_search_wrap .search_title{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;font-size:32px;font-weight:700;line-height:1;margin-bottom:24px;}
.pop_total_search_wrap .search_title label{cursor:pointer;font-size:inherit;font-weight:inherit;}
.pop_btn{display:flex;align-items:center;justify-content:center;gap:4px;line-height:1;transition:0.4s ease-in-out;color:inherit;padding:0 2px;height:40px;border-radius:6px;font-size:17px;font-weight:400;}
.pop_btn:hover{background-color:#EDF1F5;}
.pop_btn:active{background-color:#cdd7e4;}
.pop_total_search_wrap .search_title .pop_btn{margin-left:auto;}
.pop_total_search_wrap .pop_btn.btn_searchright::after{content:"";display:inline-flex;width:20px;height:20px;background:url(../img/layout/icon_gnb_arrow_right.svg)no-repeat;background-size:contain;}
.search_form_wrap{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;gap:16px;}
.search_form_wrap .form_wrap{display:flex;position:relative;width:100%;}
.search_form_wrap .form_wrap .form_input{height:80px;border-radius:12px;font-size:25px;font-weight:700;padding:0 72px 0 24px;}
.search_form_wrap .btn_allsearch{display:inline-flex;align-items:center;justify-content:center;gap:4px;border-radius:8px;transition:0.4s ease-in-out;background:url(../img/layout/icon_all_search.svg)no-repeat;background-size:contain;width:40px;height:40px;position:absolute;right:24px;top:50%;transform:translateY(-50%);}
.search_form_wrap .btn_advanced::before{content:"";display:inline-flex;width:24px;height:24px;background:url(../img/layout/icon_advanced.svg)no-repeat center;background-size:contain;}
.pop_total_search_wrap .search_detail{padding-top:40px;}
.pop_total_search_wrap .search_info_list{display:flex;width:100%;}
.pop_total_search_wrap .search_info_list>li{display:inline-flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;flex:1;width:50%;min-height:430px;padding:8px 24px;}
.pop_total_search_wrap .search_info_list .title{font-size:21px;color:#1d1d1d;width:100%;margin-bottom:40px;font-weight:700;}
.pop_total_search_wrap .search_info_list>li ol,.pop_total_search_wrap .search_info_list>li ul{display:flex;justify-content:flex-start;flex-direction:column;gap:24px;width:100%;}
.pop_total_search_wrap .search_info_list .left{counter-reset:item;}
.pop_total_search_wrap .search_info_list>li ol li,.pop_total_search_wrap .search_info_list>li ul li{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;gap:8px;font-size:17px;}
.pop_total_search_wrap .search_info_list .ranking li{counter-increment:item;}
.pop_total_search_wrap .search_info_list .ranking li::before{display:inline-flex;content:counter(item);width:20px;flex-shrink:0;}
.pop_total_search_wrap .search_info_list .ranking .ranking_txt{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:inherit;}
.pop_total_search_wrap .search_info_list .ranking .ranking_state{display:inline-flex;align-items:center;justify-content:center;flex-direction:row;flex-shrink:0;gap:2px;font-size:15px;width:32px;margin-left:auto;}
.pop_total_search_wrap .search_info_list .ranking .ranking_state.up{color:#eb003b;}
.pop_total_search_wrap .search_info_list .ranking .ranking_state.down{color:#2768FF;}
.pop_total_search_wrap .search_info_list .ranking .ranking_state::before{content:"";display:inline-flex;width:10px;height:10px;}
.pop_total_search_wrap .search_info_list .ranking .ranking_state.up::before{width:0;height:0;border-bottom:6px solid #eb003b;border-left:4px solid transparent;border-right:4px solid transparent;}
.pop_total_search_wrap .search_info_list .ranking .ranking_state.same::before{width:6px;height:2px;background-color:#1d1d1d;;}
.pop_total_search_wrap .search_info_list .ranking .ranking_state.down::before{width:0;height:0;border-top:6px solid #2768FF;border-left:4px solid transparent;border-right:4px solid transparent;}
.pop_total_search_wrap .search_info_list .right{border-left:1px solid #c6c6c6;}
.pop_total_search_wrap .search_info_list .word_txt{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:inherit;}
.pop_total_search_wrap .search_info_list .btn_del::after{content:"";width:20px;height:20px;background:url(../img/layout/icon_del_sm.svg)no-repeat;background-size:contain;}
.pop_total_search_wrap .search_info_list .recent .btn_del{display:inline-flex;align-items:center;justify-content:center;margin-left:auto;border-radius:6px;}
.pop_total_search_wrap .search_info_list .right>.btn_del{margin-top:auto;gap:8px;}
.pop_total_search_wrap .search_info_list .right:has(.recent li+li+li+li+li+li+li+li+li)>.btn_del{position:relative;top:20px;}
.pop_total_search_wrap.menu .search_form_wrap .form_wrap .form_input{font-weight:400;}
.pop_total_search_wrap.menu .menu_search .btn_searchright{text-decoration:underline;display:inline-flex;}
.pop_total_search_wrap.menu .menu_search{display:flex;flex-direction:column;gap:32px;}
.pop_total_search_wrap.menu .menu_search .no_result{text-align:center;}
.pop_total_search_wrap.menu .menu_search .no_result>p{font-size:17px;}
.pop_total_search_wrap.menu .menu_search .no_result .btn_searchright{margin-top:16px;}
.pop_total_search_wrap.menu .menu_search .result_wrap{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;gap:32px;}
.pop_total_search_wrap.menu .menu_search .result_wrap>ul{width:100%;display:flex;flex-direction:column;gap:32px;}
.pop_total_search_wrap.menu .menu_search .result_wrap>ul>li{display:flex;flex-direction:column;gap:24px;}
.pop_total_search_wrap.menu .menu_search .result_wrap .title{display:flex;font-size:17px;border-bottom:1px solid #C6C6C6;font-weight:700;align-items:center;min-height:44px;}
.pop_total_search_wrap.menu .menu_search .result_wrap .result_list{display:flex;flex-wrap:wrap;gap:2px;}
.pop_total_search_wrap.menu .menu_search .result_wrap .result_list>li{color:#555;text-decoration:underline;font-size:17px;position:relative;padding-right:18px;display:flex;align-items:center;}
.pop_total_search_wrap.menu .menu_search .result_wrap .result_list>li:last-child{padding-right:0;}
.pop_total_search_wrap.menu .menu_search .result_wrap .result_list>li::after{content:"";color:inherit;position:absolute;right:0;display:flex;align-items:center;justify-content:center;width:16px;height:16px;background:url(../img/layout/icon_result_arrow_right.svg)no-repeat center;}
.pop_total_search_wrap.menu .menu_search .result_wrap .result_list>li:last-child::after{display:none;}
.pop_total_search_wrap.menu .menu_search .result_wrap .result_list>li>a{color:inherit;text-decoration:inherit;font-size:inherit;}
.pop_total_search_wrap.menu .menu_search .result_wrap .result_list>li .blue{text-decoration:inherit;font-size:inherit;color:#1D56BC;font-weight:700;background-color:#D3E1FB;}
@media screen and (max-width:1400px) {
    .header .my_drop .drop_menu{left:inherit;right:-21px;transform:none;}
    .header .my_drop .drop_menu::before{left:inherit;right:55px;transform:none;}
}
@media screen and (min-width:1024px) {
    .is_gnb{overflow:hidden !important;}
    .is_gnb .masthead,.is_gnb .header_body,.is_gnb .header_gnb,.is_gnb .gnb_depth_wrap,.is_gnb #containerArea, .is_gnb .footer{padding-right:17px;}
}
@media screen and (max-width:1023px) {
    .is_gnb_mobile{overflow:hidden !important;}
    .gnb_backdrop{display:none !important;}
    .header_cnt .logo .logo_img{max-height:32px;}
    .header_etc,.header_gnb,.header_cnt .btn_navi.join,.header_cnt .btn_navi.myinfo{display:none;}
    .header_body>.inner{padding:12px 16px;}
    .header_cnt .right .drop_wrap{display:none;}
    .header_cnt .btn_navi.all{display:inline-flex;}
    .header_cnt .btn_navi.all::before{background-image:url(../img/layout/icon_navi_all.svg);}
    .mobile_gnb{display:block;position:fixed;top:0;right:-100%;z-index:100;width:100%;height:100%;transition:0.4s ease-in-out;visibility:hidden;}
    .mobile_gnb::after{content:"";display:none;opacity:0;position:fixed;top:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.5);transition:opacity 0.5s 0.1s;}
    .mobile_gnb.is_open{right:0;visibility:visible;}
    .mobile_gnb.is_open::after{display:block;opacity:1;}
    .mobile_gnb .gnb_wrap{display:flex;justify-content:flex-start;flex-direction:column;position:absolute;right:0;top:0;z-index:5;height:100%;background-color:#fff;width:344px;}
    .mobile_gnb .gnb_wrap .gnb_header{display:flex;justify-content:flex-start;flex-direction:column;position:sticky;top:0;left:0;gap:16px;padding:20px 24px 16px;border-bottom:1px solid #e4e4e4;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils{display:flex;align-items:center;justify-content:space-between;flex-direction:row;min-height:32px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list{align-items:center;justify-content:flex-start;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list>li{margin-left:16px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list>li:first-child{margin-left:0;gap:0;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list>li::before{margin-right:16px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list>li:first-child::before{margin-right:0;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list .drop_wrap>.btn_txt{font-size:17px;height:auto;line-height:1.5;}
    .mobile_gnb .btn_closenav{display:flex;align-items:center;}
    .mobile_gnb .btn_closenav::before{content:"";width:24px;height:24px;background:url(../img/layout/icon_all_close.svg)no-repeat center;}
    .mobile_gnb .gnb_wrap:has(.btn_drop.active) .gnb_body .gnb_menu{z-index:-1;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_login{display:inline-flex;align-items:center;justify-content:flex-start;flex-direction:row;gap:8px;min-height:40px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_login .user{font-weight:700;font-size:17px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_login button{display:flex;align-items:center;font-size:17px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_login button::before{content:"";width:20px;height:20px;flex-shrink:0;background-size:contain;margin-right:8px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_login .btn_login{font-weight:700;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_login .btn_login::before{background-image:url(../img/layout/icon_hd_login.svg);}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_login .btn_logout::before{background-image:url(../img/layout/icon_hd_logout.svg);}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_service_menu{display:flex;align-items:flex-start;justify-content:space-between;flex-direction:row;gap:8px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_service_menu .link{display:inline-flex;align-items:center;justify-content:flex-start;flex-direction:column;gap:12px;font-size:17px;font-weight:700;width:80px;height:56px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_service_menu .link::before{content:"";display:inline-flex;width:20px;height:20px;background-color:#e4e4e4;}
    .mobile_gnb .gnb_wrap .gnb_header .form_wrap{position:relative;}
    .mobile_gnb .gnb_wrap .gnb_header .form_wrap .form_input{padding:0 48px 0 16px;font-weight:400;}
    .mobile_gnb .gnb_wrap .gnb_header .form_wrap .form_input[readonly]{background-color:#fff;border-color:#717171;color:#1D1D1D;}
    .mobile_gnb .gnb_wrap .gnb_header .form_wrap .form_input[readonly]:focus{border-color:#246BEB;}
    .mobile_gnb .gnb_wrap .gnb_header .form_wrap .btn_search{display:inline-flex;align-items:center;justify-content:center;gap:4px;border-radius:8px;transition:0.4s ease-in-out;background:url(../img/layout/icon_all_search.svg)no-repeat;background-size:contain;width:24px;height:24px;position:absolute;right:16px;top:50%;transform:translateY(-50%);}
    .mobile_gnb .gnb_wrap .gnb_body{display:flex;justify-content:flex-start;flex-direction:column;flex:1;overflow-y:auto;scroll-behavior:smooth;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu{display:flex;position:relative;background-color:#edf1f5;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .menu_wrap{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;position:relative;top:0;left:0;width:124px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .menu_wrap>ul{position:sticky;top:0;left:0;z-index:1;width:100%;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .menu_wrap .mob_1depth{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;position:relative;z-index:1;width:100%;height:64px;padding:0 20px;font-size:17px;font-weight:700;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .menu_wrap .mob_1depth>*{font-size:inherit;font-weight:inherit;color:inherit;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .menu_wrap .mob_1depth.active{color:#003675;background-color:#fff;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .menu_wrap .mob_1depth.active::after{content:"";position:absolute;top:0;right:-1px;width:1px;height:100%;background-color:#fff;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap{display:flex;justify-content:flex-start;flex-direction:column;flex:1;border-left:1px solid #e4e4e4;background-color:#fff;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list{padding:16px 24px;border-top:1px solid #e4e4e4;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list:first-child{border-top:none;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list .sub_title{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;position:relative;font-weight:700;font-size:19px;height:64px;margin-bottom:8px;border-bottom:1px solid #e4e4e4;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list .mob_2depth{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;height:56px;padding:0 4px;border-radius:8px;font-size:17px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list>ul>li:has(.mob_3depthlist) .mob_2depth{background:url(../img/layout/icon_depth_arrow.svg)no-repeat right center;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list a:hover{background-color:#edf1f5;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list a:active{background-color:#cdd7e4;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_bottom{display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;gap:8px;padding:16px 24px;border-top:1px solid #e4e4e4;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_bottom .btn_txt{font-size:17px;line-height:1.5;height:auto;min-height:40px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list .mob_3depthlist{display:flex;justify-content:flex-start;flex-direction:column;gap:8px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list .mob_3depthlist .mob_3depth{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;gap:4px;height:48px;padding:12px 16px;border-radius:8px;font-size:17px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list .mob_3depthlist .mob_3depth::before{content:"•";}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap{display:none;position:fixed;top:0;right:-100%;z-index:10;width:344px;height:100%;background-color:#fff;transition:0.4s ease-in-out;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap.is_open{right:0;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_head{display:flex;align-items:center;justify-content:space-between;flex-direction:row;font-weight:700;width:100%;height:64px;padding:20px 24px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_head .btn_prev{display:flex;align-items:center;width:20px;height:20px;flex-shrink:0;background-size:contain;background-image:url(../img/layout/icon_gnb_arrow_right.svg);}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_body .sub_title{height:64px;padding:0 24px;margin:0;border:none;font-size:17px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_body .mob_4depth_list{display:flex;justify-content:flex-start;flex-direction:column;gap:8px;padding:0 24px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_body .mob_4depth_list a{display:flex;align-items:center;justify-content:flex-start;flex-direction:row;gap:4px;height:48px;padding:12px 16px;border-radius:8px;font-size:17px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_body .mob_4depth_list a::before{content:"•";font-weight:400;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_body .mob_4depth_list a:hover{font-weight:700;color:#003675;background-color:#edf1f5;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap .mob_4depth_body .mob_4depth_list a:active{border-radius:6px;background-color:#cdd7e4;transition:0.4s ease-in-out;}
    .pop_total_search_wrap .search_title{font-size:25px;}
    .search_form_wrap .form_wrap .form_input{height:56px;border-radius:8px;font-size:19px;}
}
@media screen and (max-width:599px) {
    .header_cnt .btn_navi{font-size:13px;padding:4px;}
    .header_cnt .btn_navi::before{width:20px;height:20px;margin-bottom:8px;}
    .mobile_gnb .gnb_wrap{width:100%;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .mob_4depth_wrap{width:100%;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list .drop_wrap>.btn_txt{font-size:15px;}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list .drop_wrap.zoom_drop .drop_menu{transform:translateX(calc(-50% + 20px));}
    .mobile_gnb .gnb_wrap .gnb_header .gnb_utils .etc_list .drop_wrap.zoom_drop .drop_menu::before{transform:translateX(calc(-50% - 20px));}
    .mobile_gnb .gnb_wrap .gnb_header .form_wrap .form_input{height:48px;font-size:17px;}
    .mobile_gnb .gnb_wrap .gnb_header .form_wrap .btn_search{width:20px;height:20px;}
    .mobile_gnb .gnb_wrap .gnb_body .gnb_menu .submenu_wrap .gnb_sub_list .sub_title{font-size:17px;}
    .footer_links{grid-template-columns:1fr 1fr;grid-gap:0;}
    .footer_links.column{grid-template-columns:1fr;}
    .pop_total_search_wrap{padding:40px 0;}
    .pop_total_search_wrap .search_total_top{padding:0 16px 32px;margin:0 -16px;}
    .pop_total_search_wrap .search_title{flex-direction:column;align-items:flex-start;gap:16px;}
    .pop_total_search_wrap .search_title .pop_btn{margin-left:0;}
    .search_form_wrap .form_wrap .form_input{padding:0 48px 0 16px;}
    .search_form_wrap .btn_allsearch{right:16px;width:24px;height:24px;}
    .pop_total_search_wrap .search_detail{padding:32px 16px 0;}
    .pop_total_search_wrap .search_info_list{flex-direction:column;}
    .pop_total_search_wrap .search_info_list>li{width:100%;min-height:auto;padding:0;}
    .pop_total_search_wrap .search_info_list .title{margin-bottom:32px;}
    .pop_total_search_wrap .search_info_list .right{padding-top:32px;margin-top:32px;border:0;border-top:1px solid #c6c6c6;}
    .pop_total_search_wrap .search_info_list .right>.btn_del{margin-top:32px;}
    .pop_total_search_wrap .search_info_list .right:has(.recent li+li+li+li+li+li+li+li+li)>.btn_del{top:inherit;}
    .pop_total_search_wrap.menu{padding:0 0 40px;}
    .pop_total_search_wrap.menu .search_total_top{padding:40px 16px 32px;}
}


/* footer */
.point_color{color:#003675;font-weight: 700;}
.bold{font-weight:700;}
.footer{position:relative;z-index:50;background-color:#F8F8F8;}
.footer .inner{width:1328px;max-width:100%;margin:0 auto;}
.footer_quick{background-color:#fff;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;}
.footer_quick .inner{display:flex;padding:0 24px;}
.footer_quick .inner .link{display:inline-flex;align-items:center;justify-content:space-between;padding:0 24px;flex-direction:row;flex:1;height:54px;border-right:1px solid #d8d8d8;font-size:17px;text-align:left;word-break:keep-all;}
.footer_quick .inner .link::after{content:"";display:inline-flex;flex-shrink:0;width:20px;height:20px;background:url(../img/layout/icon_footer_plus.svg) no-repeat center;}
.footer_quick .inner .link:first-child{border-left:1px solid #d8d8d8;}
.footer_quick .inner .link:hover{background-color:#EDF1F5;transition:0.4s ease-in-out;}
.footer_quick .inner .link:active{background-color:#CDD7E4;transition:0.4s ease-in-out;}
.footer>.inner {display:flex;gap:40px;padding:40px 24px;align-items:normal;justify-content:flex-start;flex-direction:column;}
.footer_logo {height:48px;}
.footer_logo img {height:100%;}
.footer_cnt {display:flex;flex:1;justify-content:space-between;gap:24px;}
.footer_cnt .footer_info {display:flex;align-items:normal;justify-content:flex-start;flex-direction:column;flex:1;gap:20px;}
.footer_cnt .footer_info .addr{font-size:17px;word-break:keep-all;}
.footer_cnt .footer_info .num{display:flex;align-items:normal;justify-content:flex-start;flex-direction:column;gap:16px;}
.footer_cnt .footer_info .num li{display:flex;align-items:normal;justify-content:flex-start;flex-direction:row;gap:0 8px;font-size:17px;}
.footer_cnt .footer_info .num li *{line-height:inherit;font-size:inherit;}
.footer_cnt .footer_link{display:flex;flex-direction:column;flex-shrink:0;gap:40px;width:302px;}
.footer_cnt .footer_link .link_go{display:flex;flex-direction:column;align-items:flex-start;flex:1;gap:16px;}
.footer_cnt .footer_link .link_go>a{display:inline-flex;align-items:center;justify-content:center;gap:4px;height:24px;padding:0 2px;font-size:17px;font-weight:700;border-radius:6px;}
.footer_cnt .footer_link .link_go>a::after{content:"";display:inline-flex;width:20px;height:20px;background:url(../img/layout/icon_footer_right.svg)no-repeat center top 45%;}
.footer_cnt .footer_link .link_go>a:hover{background-color:#EDF1F5;transition:0.4s ease-in-out;}
.footer_cnt .footer_link .link_sns{display:flex;gap:8px;flex-wrap:wrap;}
.footer_cnt .footer_link .link_sns>a{display:inline-flex;width:40px;height:40px;background-repeat:no-repeat;background-size:auto 100%;}
.footer_cnt .footer_link .link_sns>a.instagram{background-image:url(../img/layout/icon_footer_instagram.svg);}
.footer_cnt .footer_link .link_sns>a.youtube{background-image:url(../img/layout/icon_footer_youtube.svg);}
.footer_cnt .footer_link .link_sns>a.twitter{background-image:url(../img/layout/icon_footer_x.svg);}
.footer_cnt .footer_link .link_sns>a.facebook{background-image:url(../img/layout/icon_footer_facebook.svg);}
.footer_cnt .footer_link .link_sns>a.blog{background-image:url(../img/layout/icon_footer_blog.svg);}
.footer_cnt .footer_link .link_sns>a.kakao{background-image:url(../img/layout/icon_footer_kakao.svg);}
.footer_cnt .footer_link .link_sns>a.kakaostory{background-image:url(../img/layout/icon_footer_kakaostory.svg);}
.footer_bottom {display:flex;flex-direction:column;padding-top:16px;gap:40px;border-top:1px solid #d8d8d8;}
.footer_bottom .footer_text{display:flex;justify-content:space-between;align-items:center;gap:6px 16px;flex-wrap:wrap;}
.footer_bottom .footer_text .footer_menu{display:inline-flex;flex-wrap:wrap;gap:16px 24px;}
.footer_bottom .footer_text .footer_menu>a{display:inline-flex;align-items:center;height:24px;font-size:17px;}
.footer_bottom .footer_text .footer_menu>a:first-child{padding-left:0;}
.footer_bottom .footer_text .footer_menu>a:hover{border-radius:6px;background-color:#EDF1F5;transition:0.4s ease-in-out;}
.footer_bottom .footer_text .footer_copy{color:#555;font-size:15px;}
@media screen and (max-width:1023px) {
    .footer_quick .inner{padding:0 16px;}
    .footer_quick .inner .link{font-size:16px;padding:0 8px 0 16px;}
    .footer>.inner{padding:32px 16px;gap:32px;}
    .footer_logo{height:32px;}
}
@media screen and (min-width:600px) and (max-width:1023px) {
    .footer_cnt .footer_info .num li{flex-direction:column;align-items:flex-start;}
}
@media screen and (max-width:599px) {
    .footer_quick .inner{padding:0;flex-direction:column;}
    .footer_quick .inner .link{min-height:48px;height:auto;font-size:15px;padding:0 16px;border:none;border-top:1px solid #d8d8d8;}
    .footer_quick .inner .link:first-child{border-top:none;border-left:none;}
    .footer_cnt{flex-direction:column;}
    .footer_cnt .footer_info{gap:16px;} 
    .footer_cnt .footer_info .addr{font-size:15px;}
    .footer_cnt .footer_info .num li{font-size:15px;display:block;}
    .footer_cnt .footer_info .num li .bold{margin-right:4px;}
    .footer_cnt .footer_link{gap:32px;width:auto;}
    .footer_cnt .footer_link .link_go{gap:12px;}
    .footer_cnt .footer_link .link_go>a{font-size:15px;height:auto;}
    .footer_cnt .footer_link .link_go>a::after{width:16px;height:16px;background-size:auto 9px;}
    .footer_bottom{gap:32px;}
    .footer_bottom .footer_text{gap:24px;}
    .footer_bottom .footer_text .footer_menu{gap:16px;}
    .footer_bottom .footer_text .footer_menu>a{font-size:15px;gap:16px;}
} 


/* popup 공통 */
body.scroll_no{overflow:hidden !important;}
.popup_wrap{display:none;position:fixed;left:0;top:0;z-index:800;width:100%;height:100%;padding:0;background-color:transparent;}
.popup_wrap::after{display:none;content:"";position:fixed;left:0;bottom:0;z-index:1;width:100%;height:100%;opacity:0;background:#000;transition:all ease 0.6s 0.2s;}
.popup_wrap,
.popup_wrap::after{display:block;opacity:0;visibility:hidden;pointer-events:none;}
.popup_wrap .popup_inner{display:flex;align-items:center;justify-content:start;flex-direction:column;margin:0 auto;height:100%;padding:40px;}
.popup_wrap .popup_cnt{display:flex;justify-content:start;flex-direction:column;gap:40px;width:100%;height:auto;outline-color:transparent;transition:outline-color 0.1s;}
.popup_wrap .popup_cnt:focus{outline-offset:4px;outline:2px solid rgba(255,255,255,0.9);}
.popup_wrap .popup_cnt a:focus,
.popup_wrap .popup_cnt button:focus{outline-offset:4px;outline:2px solid rgba(36, 107, 235, 0.8);}
.popup_wrap.is_open,
.popup_wrap.is_open::after{display:block;opacity:1;visibility:visible;pointer-events:auto;}
.popup_wrap.is_open::after{opacity:0.5;}
.popup_wrap .popup_close{top:80px;right:80px;z-index:3;width:40px;height:40px;position:absolute;z-index:3;background:url(../img/layout/icon_popup_close.svg) no-repeat center/ contain;}
.popup_wrap .popup_header .title{font-size:25px;font-weight:700;}
.popup_wrap .popup_body{flex:1;overflow-x:hidden;overflow-y:auto;}
.popup_wrap .popup_body::-webkit-scrollbar{width:8px;}
.popup_wrap .popup_body::-webkit-scrollbar-thumb{border-radius:8px;background-color:#C6C6C6;}
.popup_wrap .popup_body::-webkit-scrollbar-track{border-radius:8px;background-color:#D8D8D8;}
@media screen and (max-width: 1023px) {
    .popup_wrap .popup_close{top:24px;right:16px;}
}
@media screen and (max-width: 599px) {
    .popup_wrap .popup_inner{padding:16px;}
    .popup_wrap .popup_cnt{gap:24px;}
    .popup_wrap .popup_close{width:24px;height:24px;}
    .popup_wrap .popup_header{padding:0 8px;}
    .popup_wrap .popup_header .title{font-size:19px;}
    .popup_wrap .popup_body{padding:0 8px;}
}

/* 팝업 유형 - fade */
.popup_wrap[data-type=fade] .popup_inner{justify-content:center;opacity:0;transition:opacity ease 0.6s 0.4s;}
.popup_wrap[data-type=fade] .popup_cnt{background-color:#fff;border-radius:12px;position:relative;max-height:calc(100% - 40px*2);overflow:hidden;}
.popup_wrap[data-type=fade] .popup_header{padding:40px 40px 0;}
.popup_wrap[data-type=fade] .popup_body{padding:0 40px;}
.popup_wrap[data-type=fade] .popup_btn{display:flex;align-items:center;justify-content:end;flex-direction:row;gap:8px;width:100%;padding:0 40px 40px;}
.popup_wrap[data-type=fade] .popup_close{width:24px;height:24px;top:40px;right:40px;}
.popup_wrap[data-type=fade] .popup_inner{position:relative;z-index:999;}
.popup_wrap[data-type=fade].is_open .popup_inner{opacity:1;}
@media screen and (max-width: 599px) {
    .popup_wrap[data-type=fade] .popup_cnt{max-height:100%;}
    .popup_wrap[data-type=fade] .popup_header{padding:24px 86px 0 24px;}
    .popup_wrap[data-type=fade] .popup_body{padding:0 24px;}
    .popup_wrap[data-type=fade] .popup_btn{padding:0 24px 24px;}
    .popup_wrap[data-type=fade] .popup_close{right:24px;top:24px;}
}

/* 팝업 유형 - slide */
.popup_wrap[data-type=slide] .popup_inner{padding:0;align-items:end;}
.popup_wrap[data-type=slide] .popup_cnt{background-color:#fff;position:relative;max-height:100%;height:100%;overflow:hidden;z-index:9;right:-100%;transition:right ease 0.6s 0.2s;}
.popup_wrap[data-type=slide] .popup_cnt:focus{outline-offset:-4px;outline:2px solid rgba(36, 107, 235, 0.8);}
.popup_wrap[data-type=slide] .popup_header{padding:40px 40px 0;}
.popup_wrap[data-type=slide] .popup_body{padding:0 40px;}
.popup_wrap[data-type=slide] .popup_close{width:24px;height:24px;top:40px;right:40px;}
.popup_wrap[data-type=slide].is_open .popup_cnt{right:0;}

/* 팝업 유형 - bottom */
.popup_wrap[data-type=bottom] .popup_inner{justify-content:end;padding:0;}
.popup_wrap[data-type=bottom] .popup_cnt{background-color:#fff;position:relative;max-height:90%;max-width:100% !important;width:100%;overflow:hidden;z-index:9;border-radius:16px 16px 0 0;bottom:-100%;transition:bottom ease 0.6s 0.2s;}
.popup_wrap[data-type=bottom] .popup_cnt:focus{outline-offset:-4px;outline:2px solid rgba(36, 107, 235, 0.8);}
.popup_wrap[data-type=bottom] .popup_header{padding:0 16px;border-bottom:1px solid #C6C6C6;height:72px;display:flex;align-items:center;}
.popup_wrap[data-type=bottom] .popup_close{width:24px;height:24px;top:24px;right:16px;}
.popup_wrap[data-type=bottom] .popup_body{padding:0 16px;}
.popup_wrap[data-type=bottom] .popup_btn{display:flex;position:sticky;left:0;bottom:0;z-index:5;gap:16px;padding:32px 16px 40px;border-top:1px solid #C6C6C6;background-color:#fff;}
.popup_wrap[data-type=bottom] .popup_btn > button{flex:1;}
.popup_wrap[data-type=bottom].is_open .popup_cnt{bottom:0;}

/* 팝업 유형 - full */
.popup_wrap[data-type=full]{padding:0;background-color:#DEE2E8;transition:none;}
.popup_wrap[data-type=full]::after{display:none;}
.popup_wrap[data-type=full] .popup_inner{padding:92px 12px;justify-content:start;}
.popup_wrap[data-type=full] .popup_inner:focus{outline-offset:-4px;outline:2px solid rgba(36, 107, 235, 0.8);}
.popup_wrap[data-type=full] .popup_cnt{height:100%;outline:none;z-index:9;transition:none;}
@media screen and (max-width: 599px) {
    .popup_wrap[data-type=full] .popup_inner{padding:64px 16px;}
}

/* 팝업 iframe */
.pop_iframe {display:none;position:fixed !important;left:0;top:0;width:100%;height:100%;z-index:2000;}
.pop_iframe.is_open{display:block;}


/* 사이드 메뉴 */
#lnb_nav{max-width: 256px;}
#lnb_nav .lnb{position: relative;}
#lnb_nav .lnb h2{font-size:21px;font-weight: 700;border-bottom:1px solid #8E8E8E;padding:40px 8px;}
#lnb_nav .lnb>ul>li{border-bottom:1px solid #D8D8D8;}
#lnb_nav .lnb>ul>li .lnb_depth{position: relative;}
#lnb_nav .lnb>ul>li .lnb_depth a{display:block;}
#lnb_nav .lnb>ul>li .lnb_depth>button{width: 100%;height:100%;position:absolute;top:0;left:0;background: url(../img/layout/ico_arrow_down.svg) no-repeat right 13px center;}
#lnb_nav .lnb>ul>li .lnb_depth.on>button{background-image: url(../img/layout/ico_arrow_up.svg);}
#lnb_nav .lnb>ul>li .lnb_depth h3{font-size: 17px;font-weight: 700;color: #1D1D1D;padding:26px 8px;text-align:left;}
#lnb_nav .lnb>ul>li .lnb_depth.on h3{color: #003675;}
#lnb_nav .lnb>ul>li .lnb_depth:hover h3{background-color: #EDF1F5;}
#lnb_nav .lnb>ul>li .lnb_list{padding: 16px 0;border-top: 3px solid #003675;display: none;}
#lnb_nav .lnb>ul>li .lnb_list ul li{padding:14px 16px;}
#lnb_nav .lnb>ul>li .lnb_list ul li:hover{background: #EDF1F5;border-radius: 8px;}
#lnb_nav .lnb>ul>li .lnb_list ul li>button{width: 100%;background: url(../img/layout/ico_arrow_down.svg) no-repeat right 13px center;}
#lnb_nav .lnb>ul>li .lnb_list ul li .depth_tit{font-size:17px;font-weight:400;color:#1D1D1D;text-align:left;position:relative;padding-left:12px;display:block;}
#lnb_nav .lnb>ul>li .lnb_list ul li .depth_tit::after{content: '';width: 4px;height: 4px;border-radius: 50%;background: #2D2D2D;position: absolute;left: 0;top: 50%;margin-top: -2px;}
#lnb_nav .lnb>ul>li .lnb_list .depth_wrap{display: none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding-top: var(--krds-spacer-10);background-color: #fff;transition: 0.4s ease-in-out;z-index: 1;}
#lnb_nav .lnb>ul>li .lnb_list .depth_wrap>button{background: url(../img/layout/ico_arrow_back.svg) no-repeat left 16px top 13px;font-size:17px;font-weight: 700;color:#1D1D1D;padding:48px 8px 16px;width: 100%;text-align:left;}
#lnb_nav .lnb>ul>li .lnb_list .depth_wrap .depth{border-top:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;padding:16px;}
#lnb_nav .lnb>ul>li .lnb_list .depth_wrap .depth li{font-size:17px;font-weight: 400;color:#1D1D1D;text-align: left;position: relative;padding-left: 12px;}
#lnb_nav .lnb>ul>li .lnb_list .depth_wrap .depth li::after{content: '';width: 4px;height: 4px;border-radius: 50%;background: #2D2D2D;position: absolute;left: 0;top: 50%;margin-top: -2px;}  
#lnb_nav .lnb>ul>li .lnb_list .depth_wrap .depth li>a{display:block;}
.container .in_between #lnb_nav{width:296px;max-width:inherit;padding:40px 40px 0 0;border-right:1px solid #C6C6C6;}  
@media screen and (max-width:1023px){
    .container .in_between #lnb_nav{display: none;}
}


                  
/* 브레드크럼 */
.sLocation {position:relative;margin-bottom: 13px;}
.sLocation .locNav{display:block;font-size:0;}
.sLocation .locNav>li{display:inline-block;position:relative;margin-right:6px;padding-right:18px;vertical-align:top;}
.sLocation .locNav>li::after {content:'';display:block;position:absolute;right:0;top:6px;width:12px;height:12px;background:url(../img/layout/location_arrB.svg) no-repeat right center;}
.sLocation .locNav>li .txt {display:inline-block;color:#1D1D1D;font-size:15px;font-weight:400;vertical-align:top;}
.sLocation .locNav>li a.txt{text-decoration:underline;}
.sLocation .locNav>li a.txt:hover{color:#2470E6}
.sLocation .locNav>li:last-of-type .txt{margin-right:0;padding-right:0;}
.sLocation .locNav>li:last-of-type::after{display:none;}
.sLocation .locNav>li.more{width:30px;height:24px;background:url(../img/layout/icon_sLocation_more.svg) no-repeat left center;}
.container .contents .sLocation {padding:40px 0 80px;margin-bottom:0;}
.container >.sLocation{padding-top:24px;margin-bottom:0;}
.container >.sLocation>nav{max-width:1328px;padding:0 24px;margin:0 auto;}
@media screen and (max-width:1023px){
    .sLocation .locNav>li{display:none;}
    .sLocation .locNav>li:first-of-type,
    .sLocation .locNav>li.more,
    .sLocation .locNav>li:last-of-type{display:inline-block;}
    .container >.sLocation>nav{padding:0 16px;}
}
@media screen and (max-width:599px){
    .container .contents .sLocation{padding:24px 0 40px;}
}
       


/* 페이지 타이틀 */
.page_title_wrap{display:flex;justify-content:flex-start;flex-direction:column;margin-bottom:80px;gap:40px;}
.page_title_wrap>.title{font-weight:700;font-size:40px;word-break:keep-all;}
.page_title_wrap.between{flex-direction:row;}
.page_title_wrap.between .step_list{margin-left:auto;margin-bottom:0;}
.page_title_wrap>.title .small_tit{font-weight:inherit;display:flex;font-size:19px;}
.page_title_wrap .title_desc{font-size:19px;color:#555;}
@media screen and (max-width:1023px) {
    .page_title_wrap{gap:32px;margin-bottom:64px;}
    .page_title_wrap>.title{font-size:32px;}
    .page_title_wrap .title_desc br{display:none;}
    .page_title_wrap .title_desc .m_hide{display:block;}
}
@media screen and (max-width:599px) {
    .page_title_wrap.between{flex-direction:column;}
    .page_title_wrap .title_desc .m_hide{display:none;}
}


/* 컨테이너 */
.container .inner{max-width:1328px;margin:0 auto;min-height:80vh;width:100%;padding:80px 24px;}
.container .in_between{display:flex;justify-content:flex-start;gap:80px;flex-direction:row;}
.container .inner.in_between{padding: 0;}
.container .contents{flex:1;}
.container .in_between .contents{padding-bottom:80px;}
@media screen and (max-width:1023px) {
    .container .inner{padding:64px 16px 64px;min-height:60vh;}
    .container .in_between .contents{padding-left:16px;padding-right:16px;}
}
@media screen and (max-width:599px) {
    .container .inner{min-height:50vh;}
    .container .in_between .contents{padding:0 16px 40px;}
}

/* 레이어 팝업 */
.layer_popup{position:fixed;top:0;left:0;height:100%;width:100%;background-color:rgba(0,0,0,0.5);z-index:9999;}
.layer_popup .inner{display:flex;flex-wrap:wrap;padding:40px;width: 100%;height: 100%;align-items: center;justify-content: center;overflow-y:auto;}
.layer_popup .popup_item{background-color:#fff;position:relative;border-radius:12px;overflow:hidden;}
.layer_popup .popup_item+.popup_item{margin-left:24px;}
.layer_popup .popup_item .cont_area{width:100%;height:100%;overflow-y:auto;font-size:0;}
.layer_popup .popup_item .sample_pop{text-align:center;padding:32px;}
.layer_popup .popup_item .sample_pop .sample_pop_tit{display:block;font-size:25px;font-weight:700;margin-bottom:32px;}
.layer_popup .popup_item .sample_pop .txtBody2+.txtBody2{margin-top:12px;}
.layer_popup .popup_item .sample_pop .button_area{margin-top:32px;font-size:0;}
.layer_popup .popup_item .sample_pop .button_area button+button{margin-left: 8px;}
.layer_popup .popup_item .bottom_area{position:relative;background-color:#000;padding:8px 40px 8px 12px;}
.layer_popup .popup_item .bottom_area .input_check label{color:#fff;}
.layer_popup .popup_item .bottom_area .layer_close{position:absolute;top:8px;right:8px;width:24px;height:24px;background:url(../img/layout/ico_layerClose.png)no-repeat center;}
@media screen and (max-width:1023px) {
    .layer_popup{overflow-y:auto;}
    .layer_popup .inner{padding:40px 24px;flex-direction:column;flex-wrap:inherit;height:auto;}
    .layer_popup .popup_item+.popup_item{margin-left:0;margin-top:24px;}
    .layer_popup .popup_item .sample_pop{padding:24px;}
}

/* gnb활성화 */
.header_gnb .gnb_menu .gnb_1depth.on{color:#003675;}
.header_gnb .gnb_depth_wrap .gnb_sub_list .gnb_sub_content .gnb_3depth.on{background: #EDF1F5;}
#lnb_nav .lnb>ul>li .lnb_depth>.on>*{color: #003675;}
#lnb_nav .lnb>ul>li .lnb_list>ul>li.on{background: #EDF1F5;border-radius: 8px;}
#lnb_nav .lnb>ul>li .lnb_list .depth_wrap .depth li.on a{color:#003675;font-weight: bold;}